<md-dialog aria-label="Conflect Reservation" style="width: 75%">
    <form name="conflictReservation">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'CONFLICT' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <conflict-reservation></conflict-reservation>
        </md-dialog-content>
    </form>
</md-dialog>