<style type="text/css">
	.one {
		padding: 10px;
	}
	
	#customers td,
	#customers th {
		border: 1px solid #ddd;
		text-align: left;
		padding: 8px;
	}
	
	table#customers {
		/*font-size: 16px;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%;
	}
	
	.margin-bottom100 {
		margin-bottom: 80px;
	}
	
	.k-datetimepicker .k-picker-wrap .k-icon {
		margin: 6px 2px;
	}
	
	.k-i-calendar {
		background-position: -32px -176px !important;
	}
	
	.k-i-clock {
		background-position: -32px -192px !important;
	}
	
	.k-picker-wrap .k-icon {
		margin: 6px 2px;
	}
</style>
<md-content layout="row" layout-wrap layout-align="start start" flex="100" style="margin-bottom: 24px; margin-top: 24px;">
	<!--<md-toolbar class="md-primary">
		<div class="md-toolbar-tools">
			<h2 class="md-flex">{{'SUMMARY_ACTIVITY_ON_SYSTEM' | translate}}</h2>
		</div>
	</md-toolbar>-->
	<div flex="100">
		<form ng-submit="">
			<!--<div layout="row" layout-xs="column" layout-align="start">
				<div flex="30" flex-xs="10">
					<md-input-container style="margin-bottom: 0px;" class="md-icon-float md-block">
						<label>{{'FROM' | translate}} </label>
						<input kendo-date-picker ng-model="dateString" k-ng-model="logsSearch.from" style="width: 100%;" k-options="DatePickerOption" />
					</md-input-container>
				</div>
				<div flex="30" flex-xs="10">
					<md-input-container style="margin-bottom: 0px;" class="md-icon-float md-block">
						<label>{{'TO' | translate}} </label>
						<input kendo-date-picker ng-model="dateString2" k-ng-model="logsSearch.to" style="width: 100%;" k-options="DatePickerOption" />
					</md-input-container>
				</div>
				<div flex="20" flex-xs="10">
					<md-input-container style="margin-bottom: 0px;">
						<label>{{'USER' | translate}} </label>
						<md-select ng-model="logsSearch.user">
							<md-option value="0">Dungnn</md-option>
							<md-option value="1">Membell</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div flex="20" flex-xs="10">
					<md-input-container style="margin-bottom: 0px;">
						<label>{{'OPERATION' | translate}} </label>
						<md-select ng-model="logsSearch.operation">
							<md-option value="0">All</md-option>
							<md-option value="1">Void payment</md-option>
						</md-select>
					</md-input-container>
				</div>
			</div>

			<div layout="row" layout-xs="column" layout-align="start">
				<div flex="30" flex-xs="10">
					<md-input-container style="margin-bottom: 0px;" class="md-icon-float md-block">
						<label>{{'RES_NO' | translate}} </label>
						<input ng-model="logsSearch.res" name="from">
					</md-input-container>
				</div>
				<div flex="30" flex-xs="10">
					<md-input-container style="margin-bottom: 0px;" class="md-icon-float md-block">
						<label>{{'ROOM_NO' | translate}} </label>
						<input ng-model="logsSearch.room_no" name="from">
					</md-input-container>
				</div>
				<div flex="30" flex-xs="10">
					<md-button flex="100" flex-xs="100" class="md-raised md-primary" ng-click="processSearchAuditLog()">
						<span flex>{{'SEARCH' | translate}}</span>
					</md-button>
				</div>
			</div>-->

			<div layout="row" layout-align="space-between center" layout-wrap flex="100" style="padding: 12px;">
				<div flex-xs="100" flex-sm="100" flex-gt-sm="45" layout="row" layout-align="space-between center" style="margin-bottom: 24px;">
					<md-input-container style="margin: 0px;" class="md-icon-float" flex="45">
						<label>{{'FROM' | translate}} </label>
						<input kendo-date-picker ng-model="str" k-ng-model="search.From" style="width: 100%;" k-options="DatePickerOption" />
					</md-input-container>
					<md-input-container style="margin: 0px;" class="md-icon-float" flex="45">
						<label>{{'TO' | translate}} </label>
						<input kendo-date-picker ng-model="str2" k-ng-model="search.To" style="width: 100%;" k-options="DatePickerOption" />
					</md-input-container>
				</div>


				<div flex-xs="100" flex-sm="100" flex-gt-sm="45" layout="row" layout-align="space-between center" style="margin-bottom: 24px;">
					<md-input-container style="margin: 0px;" flex="45">
						<label>{{'USER' | translate}} </label>
						<md-select ng-model="search.UserId">
							<md-option value="" ng-selected="true">{{'ALL' | translate}}</md-option>
							<md-option ng-repeat="user in allUser" ng-value="user.Id">{{ user.UserName }}</md-option>
						</md-select>
					</md-input-container>
					<md-input-container style="margin: 0px;" flex="45">
						<label>{{'OPERATION' | translate}} </label>
						<md-select ng-model="search.Operation">
							<!-- <md-option value="ALL" ng-selected="true">{{'ALL' | translate}}</md-option> -->
							<md-option ng-repeat="operation in allOperation" ng-value="operation">{{operation | translate}}</md-option>
						</md-select>
					</md-input-container>
				</div>
				<div flex>
						<md-button flex="100" flex-xs="100" class="md-raised md-warn" ng-click="processSearchAuditLog()">
							{{'SEARCH' | translate}}
						</md-button>
					</div>

				<!--<div flex-xs="100" flex-sm="100" flex-gt-sm="45" layout="row" layout-align="space-between center" style="margin-bottom: 24px;">
					<md-input-container style="margin: 0px;height: 34px;" class="md-icon-float" flex="40">
						<label>{{'RES_NO' | translate}} </label>
						<input ng-model="search.ReservationNumber">
					</md-input-container>
					<md-input-container style="margin: 0px;height: 34px;" class="md-icon-float" flex="40">
						<label>{{'ROOM_NO' | translate}} </label>
						<md-select ng-model="search.RoomId">
							<md-option value="0" ng-selected="true">{{'ALL' | translate}}</md-option>
							<md-option ng-repeat="room in allRoom" ng-value="room.RoomId">{{ room.RoomName }}</md-option>
						</md-select>
					</md-input-container>
					<div flex>
						<md-button flex="100" flex-xs="100" class="md-raised md-warn" ng-click="processSearchAuditLog()">
							{{'SEARCH' | translate}}
						</md-button>
					</div>
				</div>-->

			</div>




		</form>
	</div>
	<div flex class="one">

		<div class="table-responsive-vertical shadow-z-1">
			<table id="customers" style="width: 100%;">
				<thead>
					<th>{{'PARTICULAR' | translate}}</th>
					<th>{{'USER' | translate}}</th>
					<th>{{'DATE' | translate}}</th>
					<th>{{'TIME' | translate}}</th>
				</thead>
				<tbody ng-repeat="(key, value) in logResults | groupBy :'Operation'">
					<tr>
						<td colspan="8" style="color: #f44336;font-weight: bold;">{{'OPERATION' | translate}} {{key | translate}}</td>
					</tr>
					<tr ng-repeat= "valueTemp in value">
						<td><span ng-repeat="(title,content) in valueTemp.Particular" ng-if="content != null"><span style="font-weight: bold;">{{title | translate}}</span>: {{content}}. </span>
						</td>
						<td>{{valueTemp.User}}</td>
						<td>{{valueTemp.DateTime | date:'dd/MM/yyyy'}}</td>
						<td>{{valueTemp.DateTime | date:'HH:mm'}}</td>
					</tr>

				</tbody>
			</table>
		</div>
	</div>
</md-content>