<md-dialog aria-label="{{'ASSIGN_ROOM' | translate}}" flex-gt-xs="98" flex-xs="98" style="max-height: 100%;">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>{{'ASSIGN_ROOM' | translate}}</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="cancel()">
                <md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <assign-room></assign-room>
    </md-dialog-content>
</md-dialog>