<style>
    .autocomplete-custom-template li {
        border-bottom: 1px solid #ccc;
        height: auto;
        padding-top: 8px;
        padding-bottom: 8px;
        white-space: normal;
    }

    .autocomplete-custom-template li:last-child {
        border-bottom-width: 0;
    }

    .autocomplete-custom-template .item-title .item-metadata {
        display: block;
        line-height: 2;
    }

    .autocomplete-custom-template .item-title md-icon {
        height: 18px;
        width: 18px;
    }

    .k-picker-wrap .k-icon {
        margin: 6px 2px;
    }
    md-card md-card-content {
        display: block;
        padding: 0 16px;
    }
    

</style>
<md-card class="custom-card">
     <md-card-title class="padding-bottom0-important">
        <md-card-title-text flex="100" >
            <span class="md-headline">
                {{'CUSTOMER_INFORMATION' | translate}}
                 <md-icon class="bt-add" md-svg-src="img/ic_multiple_users_silhouette.svg" ng-click="customerCtrl.addSharer($event)" ng-if="!customerCtrl.isCheckOut && !customerCtrl.isCancel">
                </md-icon>
            </span>
        </md-card-title-text>
    </md-card-title>
     <!--<div>
        <div layout="row" layout-align="space-between center" style="">
            <span flex class="md-toolbar-tools">
                <h2>
                        {{'CUSTOMER_INFORMATION' | translate}}@
                </h2>
            </span>
            <div>
                <md-button class="md-primary md-fab md-mini md-button md-ink-ripple" ng-click="customerCtrl.addSharer($event)" ng-if="!customerCtrl.isCheckOut && !customerCtrl.isCancel" >
                    <md-icon md-svg-src="img/icons/ic_group_add_24px.svg" style=""></md-icon>
                </md-button>
            </div>
        </div>
    </div>-->
    <md-card-content  class="md-default-theme Genaral">
        <div flex="100">
            <md-list class="padding0 margin-top5">
                <md-list-item class="md-3-line padding-left-right0">
                    <!-- <p><md-icon style="cursor: pointer" md-svg-src="img/icons/ic_stars_24px.svg"></md-icon> {{customerCtrl.customer.Fullname}} </p>
                    <p class="md-secondary">
                        <md-icon md-svg-src="img/icons/ic_edit_24px.svg" style="cursor: pointer;" ng-if="!customerCtrl.isCheckOut && !customerCtrl.isCancel "  ng-click="customerCtrl.editCustomer($event)">
                            <md-tooltip md-direction="left" flex-gt-md="100" hide-xs hide-sm hide-md>
                                {{'TOOLTIP_EDITCUSTOMER' | translate}}
                            </md-tooltip>
                        </md-icon>
                    </p> -->
                    <!-- <md-icon style="cursor: pointer" md-svg-src="img/icons/ic_stars_24px.svg"></md-icon> -->
                    <div class="md-list-item-text full-width" layout="column">
                        <h3 class="full-width">
                            <md-icon ng-if="!sharer.travellerExtraInfo.IsChild" md-svg-src="img/icons/ic_stars_24px.svg"></md-icon>
                             {{customerCtrl.customer.Fullname}}
                            <span style="float: right">
                                <md-icon md-svg-src="img/icons/ic_edit_24px.svg" style="cursor: pointer;" ng-if="!customerCtrl.isCheckOut && !customerCtrl.isCancel "  ng-click="customerCtrl.editCustomer($event)">
                                </md-icon>
                            </span>
                        </h3>
                        <h4 ng-if="customerCtrl.customer.Mobile">
                            <md-icon ng-if="!sharer.travellerExtraInfo.IsChild" md-svg-src="img/icons/ic_phone_24px.svg"></md-icon>
                            <!--{{'MOBILE' | translate}}:-->
                              {{customerCtrl.customer.Mobile}}
                        </h4>
                        <h4 ng-if="customerCtrl.customer.IdentityNumber">
                            <md-icon ng-if="!sharer.travellerExtraInfo.IsChild" md-svg-src="img/ic_id_card.svg"></md-icon>
                            <!--{{'ID' | translate}}: -->
                             {{customerCtrl.customer.IdentityNumber}}
                        </h4>
                    </div>
                    <!--<p class="md-secondary"></p>-->
                </md-list-item>
            </md-list>
        </div>
        <div flex="100" ng-if="customerCtrl.sharerList.length > 0" class="margin-top10">
             <div flex="100" class="custom-card-header">
                {{'PAYMENT_LIST' | translate}}
            </div>
            <md-list class="padding0">
                <!--<md-subheader class="md-no-sticky">{{'SHARER_INFORMATION' | translate}}</md-subheader>-->
                <md-list-item ng-repeat="sharer in customerCtrl.sharerList" >
                    <p ng-if="!sharer.isMainCustomer">
                        <md-icon ng-if="sharer.travellerExtraInfo.IsChild" md-svg-src="img/icons/ic_accessibility_24px.svg"></md-icon>
                        <md-icon ng-if="!sharer.travellerExtraInfo.IsChild" md-svg-src="img/icons/ic_person_24px.svg"></md-icon>
                        {{sharer.customer.Fullname}} </p>
                    <p ng-if="sharer.isMainCustomer">
                        <md-icon ng-if="!sharer.travellerExtraInfo.IsChild" md-svg-src="img/icons/ic_stars_24px.svg"></md-icon>
                        {{sharer.customer.Fullname}} </p>
                    <p class="md-secondary margin0" ng-if="!sharer.isMainCustomer" >
                        <md-button class="md-icon-button" aria-label="Set Main Customer" ng-click="customerCtrl.setMainCustomer(sharer)" ng-if="!sharer.travellerExtraInfo.IsChild && !customerCtrl.isCheckOut">
                            <md-icon md-svg-src="img/icons/ic_loop_24px.svg"></md-icon>
                        </md-button>
                        <md-icon md-svg-src="img/icons/ic_edit_24px.svg" ng-if="!customerCtrl.isCheckOut && !customerCtrl.isCancel "  ng-click="customerCtrl.editSharer($event, sharer)"></md-icon>
                        <md-icon md-svg-src="img/icons/ic_delete_24px.svg" ng-if="!customerCtrl.isCheckOut && !customerCtrl.isCancel " ng-click="customerCtrl.deleteSharer(sharer)" ></md-icon>
                    </p>
                    <p class="md-secondary margin0" ng-if="sharer.isMainCustomer">
                        {{'MAIN_CUSTOMER' | translate}}
                    </p>
                    <!--<md-divider></md-divider>-->
                </md-list-item>
            </md-list>
        </div>
    </md-card-content>
</md-card>