<md-dialog aria-label="{{'CHECKOUT_IN_THE_PAST' | translate}}">
    <form name="addRemarkForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'EDIT_DEPARTURE_DATE' | translate}} </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <edit-past-check-out-time></edit-past-check-out-time>
        </md-dialog-content>
    </form>
</md-dialog>