<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }
    md-list-item{
        max-height: 48px;
    }
    md-list-item ._md-no-style, md-list-item._md-no-proxy{
        max-height: 48px;
    }
 md-dialog .md-dialog-content{ overflow: auto;max-height: 400px; }
</style>
<div class="md-dialog-content" layout="row" layout-wrap flex="100" ng-if="addExtraServicesCtrl.item.name !== 'EXTRA_SERVICES'">
    <div flex="100">
        <md-input-container style="margin-right: 10px;width: 100%;" flex="100">
            <label>{{'SELECT_CATEGORY' | translate}}</label>
            <md-select ng-model="addExtraServicesCtrl.selectedExtraServiceCategory" ng-init="addExtraServicesCtrl.selectedExtraServiceCategory=0">
                <md-option value="0">{{'ALL_CATEGORY' | translate}}</md-option>
                <md-option md-no-ink ng-repeat="extraServiceCategory in addExtraServicesCtrl.extraServices.ExtraServiceCategories" value="{{extraServiceCategory.ExtraServiceCategoryId}}">{{extraServiceCategory.ExtraServiceCategoryName}}</md-option>
            </md-select>
        </md-input-container>
    </div>
    <div flex="100">
        <md-list ng-cloak>
            <md-list-item flex="100" ng-repeat="item in addExtraServicesCtrl.extraServices.ExtraServiceItems | filter: addExtraServicesCtrl.selectedExtraServiceCategory | orderBy:'Priority'" layout="row" layout-align="space-between center">
                <p flex="40">
                    {{item.ExtraServiceItemName}}
                </p>
                <md-slider flex="40" ng-model="item.quantity" min="0" max="10" step="1" >
                </md-slider>
                <div flex="20"  layout layout-align="end center">
                    <input flex type="number" min="0" ng-model="item.quantity" aria-controls="red-slider">
                </div>
            </md-list-item>

        </md-list>
    </div>
</div>
<form name="addExtraServiceForm" ng-submit="addExtraServicesCtrl.addExtraServiceNoItem()">
    <div class="md-dialog-content" layout="row" layout-align="center center" layout-wrap flex="100" ng-if="addExtraServicesCtrl.item.name === 'EXTRA_SERVICES'">
        <button class="hide" id="btn_add_extraservice"></button>
        <md-input-container flex="90" flex-xs="100"  >
            <label>{{'EXTRA_SERVICE_NAME' | translate}} ({{'REQUIRED' | translate}})</label>
            <input  ng-model="addExtraServicesCtrl.extraServiceNoItem.RoomExtraServiceDescription" required type="text" md-autofocus >
        </md-input-container>
        <div flex="90" flex-xs="100" layout layout-align="start start">
            <p flex="20">
                {{'QUANTITY' | translate}}
            </p>
            <md-slider flex="60" ng-model="addExtraServicesCtrl.extraServiceNoItem.Quantity" min="1" max="10" step="1" >
            </md-slider>
            <input style="margin-top:10px" flex type="number" min="1" ng-model="addExtraServicesCtrl.extraServiceNoItem.Quantity" aria-controls="red-slider">
        </div>
        <md-input-container flex="90"  flex-xs="100">
            <label>{{'PRICE' | translate}} ({{'REQUIRED' | translate}}) </label>
            <input ng-model="addExtraServicesCtrl.extraServiceNoItem.Amount"  type="text"   required ui-number-mask="addExtraServicesCtrl.decimal" ui-negative-number  >
        </md-input-container>
    </div>
</form>
<md-dialog-actions layout="row" style="position: relative;">
    <fieldset layout="column" layout-align="center center" class="standard" style="border-style: solid; border-width: 1px;border-color: #f44336;position: absolute;left: 15px;bottom: 10px;" ng-if="addExtraServicesCtrl.warningNoItems == true">
        <span style="font-weight: 600; color: #f44336;">{{'MISSING_ITEM' | translate}}! <span style="font-weight: 200">{{'PLEASE_SELECT_AT_LEAST_ONE_ITEM' | translate}}.</span></span>
    </fieldset>
    <md-button ng-click="addExtraServicesCtrl.cancel()" class="md-primary">
        {{'CANCEL' | translate}}
    </md-button>
    <md-button onclick="jQuery('#btn_add_extraservice').click()" class="md-primary"  ng-if="addExtraServicesCtrl.item.name === 'EXTRA_SERVICES'">
        {{'ADD' | translate}}
    </md-button>
    <md-button ng-click="addExtraServicesCtrl.addExtraService()" class="md-primary"  ng-if="addExtraServicesCtrl.item.name !== 'EXTRA_SERVICES'">
        {{'ADD' | translate}}
    </md-button>
</md-dialog-actions>