<md-dialog aria-label="Room Repair" ng-cloak flex-xs="100" flex-sm="100" flex-gt-sm="60">
	<form>
		<edit-room-repair></edit-room-repair>
		<!--<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{'EDIT_ROOM_REPAIR' | translate}} - {{'ROOM' | translate}} {{currentRoom.room.RoomName}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<edit-room-repair></edit-room-repair>
		</md-dialog-content>-->
	</form>
</md-dialog>