<style>
	md-table-container{box-shadow: 0px 0px 2px 0px;}
	md-tabs-wrapper {
		background-color: #EEEEEE !important;
	}
	table thead {
	    background: antiquewhite;
	}
	
	.md-button.md-primary.md-fab:hover
	  {
	      box-shadow: 0px 0px 2px #000000;
	      z-index: 2;
	      -webkit-transition: all 100ms ease-in;
	      -webkit-transform: scale(1.03);
	      -ms-transition: all 100ms ease-in;
	      -ms-transform: scale(1.03);   
	      -moz-transition: all 100ms ease-in;
	      -moz-transform: scale(1.03);
	      transition: all 100ms ease-in;
	      transform: scale(1.2);
	  }

	  .md-button.md-warn.md-fab:hover
	  {
	      box-shadow: 0px 0px 2px #000000;
	      z-index: 2;
	      -webkit-transition: all 100ms ease-in;
	      -webkit-transform: scale(1.03);
	      -ms-transition: all 100ms ease-in;
	      -ms-transform: scale(1.03);   
	      -moz-transition: all 100ms ease-in;
	      -moz-transform: scale(1.03);
	      transition: all 100ms ease-in;
	      transform: scale(1.2);
	  }

	  .bankCancel{text-decoration-line: line-through !important;}
	  .bankActive{color: blue; font-weight: bold;}

	  
	.topHear {
		background-color: rgb(214, 214, 214);
	}

	.topHear th,
	.topHear th md-icon {
		color: #5c5c5d !important;
	}

	.hightli {
		border-right: 1px solid #9e9e9e57 !important;
		background-color: #f2f2f2;
	}

	.invoiceDeleted {
		text-decoration-line: line-through !important;
	}

	.icon-btn {
		cursor: pointer;
	}
	.row_btn button{
		min-width: 45px;
	}
	.btn_hear md-icon{
		fill: #fff;
	}
	.box_info_dc{
		font-size: 14px;
	}
	.bg_thu{
		background: #4caf5063;
	}
	.bg_chi{
		background: #ff572278;
	}
 
</style>
<md-content layout-margin data-ng-init="action.getListBanks()" style="padding-bottom: 100px !important;">
	<div layout="row" layout-align="end center" layout-margin flex="100">
      <md-button class="btn-c md-raised md-primary" ng-click="action.addPopup()">
        <md-icon md-svg-src="img/icons/ic_add_48px.svg"></md-icon>&nbsp;{{'ADD_BANK_ACCOUNT' | translate}}
      </md-button>
    </div>

	<md-table-container>
	  <table md-table md-progress="promise">
	  	<thead class="md-table-progress"><tr><th colspan="5"><md-progress-linear ng-show="deferred()" md-mode="indeterminate" aria-valuemin="0" aria-valuemax="100" role="progressbar" aria-hidden="true" class="ng-hide" style=""><div class="md-container md-mode-indeterminate"><div class="md-dashed"></div><div class="md-bar md-bar1"></div><div class="md-bar md-bar2"></div></div></md-progress-linear></th></tr></thead>
	    <thead md-head>
	      <tr md-row class="topHear">
	        <th md-column ><span>{{'ACCOUNT_BANK_NO' | translate}}</span></th>
	        <th md-column ><span>{{'BANK_NAME' | translate}}</span></th>
	        <th md-column ><span>{{'BANK_BRANCH' | translate}}</span></th>
	        <th md-column ><span>{{'STATUS' | translate}}</span></th>
	        <th md-column></th>
	      </tr>
	    </thead>
	    <tbody md-body>
	    	<tr md-row ng-show="data.banks.length == 0 || !data.banks">
	    		<td md-cell colspan="5" style="text-align: center;">Empty data</td>
	    	</tr> 
		      <tr  md-row ng-show="data.banks.length > 0" ng-repeat="bank in data.banks track by $index"> 
		        <td ng-class="{'bankCancel': bank.Status == 3}" md-cell>{{bank.AcctNo || ""}}</td>
		        <td ng-class="{'bankCancel': bank.Status == 3}" md-cell>{{bank.BankName || ""}}</td>
		        <td ng-class="{'bankCancel': bank.Status == 3}" md-cell>{{bank.BankBranch || ""}}</td>
		        <td md-cell ><md-icon ng-class="{'bankActive': bank.Status != 3}" md-svg-src="img/icons/ic_{{bank.Status == 3 ? 'cancel' : 'done'}}_48px.svg"></md-icon></td>
		        <td md-cell>
			        <md-button ng-disabled="bank.Status == 3" class="md-fab md-mini md-primary" ng-click="action.edit(bank, $index)">
						<md-icon md-svg-src="img/icons/ic_edit_48px.svg"></md-icon>
					</md-button>
					<md-button ng-disabled="bank.Status == 3" class="md-fab md-mini md-warn" ng-click="action.delete(event, bank, $index)">
						<md-icon md-svg-src="img/icons/ic_delete_48px.svg"></md-icon>
					</md-button>
				</td>
		      </tr>
	    </tbody>
	  </table>
	</md-table-container>
</md-content>
