<md-dialog aria-label="Add Category" flex-gt-xs="40" flex-xs="98">
    <form ng-submit="saveNewCategory(newCategory)">
        <button class="hide" id="btn_saveNewCategory"></button>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'ADD_NEW_CATEGORY' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
                <div class="md-dialog-content" layout="row" layout-wrap flex="100">
                    <md-input-container flex="100">
                        <label>{{'CATEGORY_NAME' | translate}} ({{'REQUIRED' | translate}})</label>
                        <input md-autofocus required ng-model="newCategory.ExtraServiceCategoryName">
                    </md-input-container>
                    <md-input-container flex="100">
                        <label>{{'DESCRIPTION' | translate}}</label>
                        <input ng-model="newCategory.ExtraServiceCategoryDescription">
                    </md-input-container>
                </div>
        </md-dialog-content>

         <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-primary">
                {{'CANCEL' | translate}}
            </md-button>
            <md-button onclick="jQuery('#btn_saveNewCategory').click()" class="md-primary" ng-disabled="!newCategory.ExtraServiceCategoryName">
                {{'ADD' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>

</md-dialog>