<md-dialog aria-label="Add Item" flex-gt-xs="50" flex-xs="98">
	<form name="inputForm" ng-submit="saveNewItem(newItem)">
		<button class="hide" id="btn_saveNewItem"></button>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{'ADD_NEW_ITEM' | translate}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" layout="row" layout-wrap flex="100">
							<md-input-container flex="100" style="margin: 12px 0px;">
								<label>{{'NAME' | translate}} ({{'REQUIRED' | translate}})</label>
								<input md-autofocus required ng-model="newItem.ExtraServiceItemName">
							</md-input-container>

							<md-input-container flex="100" style="margin: 12px 0px;">
								<label>{{'UNIT' | translate}}</label>
								<input ng-model="newItem.Unit">
							</md-input-container>

							<md-input-container flex="100" style="margin: 12px 0px;">
								<label>{{'PRICE' | translate}} ({{'REQUIRED' | translate}})</label>
								<input  required ng-model="newItem.Price" ng-min="0" type="text" ui-number-mask="decimal">
							</md-input-container>
							<md-checkbox flex="100" ng-model="newItem.IsChangeable" class="md-warn" aria-label="IS_CHANGEABLE">
							    {{'IS_CHANGEABLE' | translate}}
							</md-checkbox>

							<md-input-container flex="100" style="margin: 12px 0px;">
								<label>{{'DESCRIPTION' | translate}}</label>
								<input ng-model="newItem.ExtraServiceItemDescription">
							</md-input-container>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button ng-click="cancel()" class="md-primary">
				{{'CANCEL' | translate}}
			</md-button>
			<md-button onclick="jQuery('#btn_saveNewItem').click()" class="md-primary" ng-disabled="inputForm.$invalid">
				{{'ADD' | translate}}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>