<style>
	.md-list-item.md-2-line .md-list-item-text,
	md-list-item.md-2-line>._md-no-style .md-list-item-text,
	md-list-item.md-3-line .md-list-item-text,
	md-list-item.md-3-line>._md-no-style .md-list-item-text {
		margin: auto;
	}
	
	.md-list-item .md-list-item-inner .md-secondary-container,
	md-list-item div._md-secondary-container {
		height: auto;
		margin: auto;
	}
	
	md-list-item ._md-list-item-inner ._md-secondary-container,
	md-list-item ._md-secondary-container {
		height: auto;
		margin: 0px;
	}
	
	
	md-list[dnd-list],
  md-list[dnd-list] > md-list-item {
	position: relative;
}

	
	md-list[dnd-list] {
    min-height: 75px;
    padding-left: 0px;
}
	
	md-list-item .selected {
		background-color: #dff0d8;
		color: #3c763d;
	}
	
	.dndDraggingSource {
    display: none;
}
	
	.dndPlaceholder {
    display: block;
    min-height: 75px;
}
	
	md-list[dnd-list] md-list-item {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

	
	
</style>
<md-toolbar>
	<div class="md-toolbar-tools">
		<h2>{{'SOURCE' | translate}}</h2>
		<span flex></span>
		<md-button class="md-icon-button" ng-click="addNewSource()">
			<md-icon md-svg-src="img/icons/ic_add_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
		</md-button>
		<md-button class="md-icon-button" ng-click="saveSourceList()" ng-if ="isSourceListChanged === true">
			<md-icon md-svg-src="img/icons/ic_save_48px.svg" style="fill: white;" aria-label="Save Source"></md-icon>
		</md-button>
	</div>
</md-toolbar>
<code>
<!--	{{sourceList}}-->
<!--	{{isSourceListChanged}}-->
</code>
<md-list style="padding: 8px" dnd-list="sourceList">
	<md-list-item class="md-2-line" ng-repeat="source in sourceList" dnd-draggable="source"
        dnd-moved="listMove($index)"
        dnd-effect-allowed="move"
        dnd-selected="models.selected = source"
        ng-class="{'selected': models.selected === source}">
		<div class="md-list-item-text" layout="column">
			<h3>{{ source.SourceName }}</h3>
			<p>{{'CODE' | translate}}: {{ source.ShortCode }}</p>
		</div>
		<div class="md-secondary" layout="row">
			<span ng-if="source.IsAvailable === true" style="background-color: #259b24; color: #fff;padding: 6px;margin: auto;cursor: pointer;border-radius: 3px;" ng-click="changeSourceStatus(source, $event)">{{'ACTIVE' | translate}}</span>
			<span ng-if="source.IsAvailable === false" style="background-color: #f44336; color: #fff;padding: 6px;margin: auto;cursor: pointer;border-radius: 3px;" ng-click="changeSourceStatus(source, $event)">{{'INACTIVE' | translate}}</span>
			<md-icon md-svg-src="img/icons/ic_edit_48px.svg" style="margin: 6px;cursor: pointer;" aria-label="Edit dialog" ng-click="editSource(source)"></md-icon>
			<md-icon md-svg-src="img/icons/ic_delete_48px.svg" style="margin: 6px;cursor: pointer;" aria-label="Delete dialog" ng-click="removeSource(source)"></md-icon>
		</div>
<!--		<md-divider></md-divider>-->
	</md-list-item>
</md-list>