<style>
    .has-error {
		/* label classes */
		display: inline;
/*		padding: .2em .6em .3em;*/
        padding: 0px;
		font-size: 75%;
		font-weight: bold;
		line-height: 1;
		color: #f44336;
		text-align: left;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: .25em;
		/* label danger classes */
		background-color: #ffffff;
	}
</style>
<md-dialog aria-label="Change Password">
    <form name="changePasswordForm" ng-submit="doChangePassword()"> <button class="hide" id="button_resetpasss"></button>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'CHANGE_PASSWORD' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel();$event.preventDefault()">
                    <md-icon md-svg-src="img/icons/ic_close_48px.svg" style="" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="row" layout-wrap flex="100">
                <md-input-container md-is-error="!changePasswordForm.oldPassword.$valid" flex="100">
                    <label>{{'OLD_PASSWORD_(REQUIRED)' | translate}}</label>
                    <input required ng-model="changePassword.OldPassword" type="password" name="oldPassword" style="margin-bottom: 10px;">
                    <div ng-messages="changePasswordForm.oldPassword.$error" class="has-Error">
                        <span ng-if="isError">
                            {{'OLD_PASSWORD_INCORRECT' | translate}}
                        </span>
                    </div>
                </md-input-container>
                <md-input-container md-is-error="!changePasswordForm.password.$valid" layout-wrap flex="100">
                    <label>{{'NEW_PASSWORD_(REQUIRED)' | translate}} </label>
                    <input ng-model="changePassword.NewPassword" required style="margin-bottom: 10px;" type="password" id="password" name="password" minlength="6" />
                    <div ng-messages="changePasswordForm.password.$error" class="has-Error">
                        <span ng-message="minlength">{{'PASSWORD_MUST_BE_AT_LEAST_SIX_(6)_CHARACTERS_LONG' | translate}}</span>
                    </div>
                    

                </md-input-container>

                <!--<md-input-container flex="100" md-is-error="!createStaffForm.password.$valid" class="" style="margin: 12px 0px;">
                    <label>
                        {{'PASSWORD(REQUIRED)' | translate}}
                    </label>

                    <input required style="margin-bottom: 10px;" ng-model="newStaff.Password" type="password" id="password" name="password" minlength="6">
                    <div ng-messages="createStaffForm.password.$error" class="has-Error" style="">
                        <span ng-message="minlength">{{'PASSWORD_MUST_BE_AT_LEAST_SIX_(6)_CHARACTERS_LONG' | translate}}</span>
                    </div>
                </md-input-container>
                
                <md-input-container flex="100" md-is-error="!createStaffForm.passwordConfirm.$valid" class="" style="margin: 12px 0px;">
					<label>
						{{'PASSWORD_CONFIRM(REQUIRED)' | translate}}
					</label>
					<input required style="margin-bottom: 10px;" type="password" ng-model="newStaff.ConfirmPassword" ng-model-options="{ updateOn: 'blur' }" id="passwordConfirm" name="passwordConfirm">
					<div ng-messages="createStaffForm.passwordConfirm.$error" class="has-Error" ng-if="newStaff.Password && newStaff.ConfirmPassword && newStaff.Password !== newStaff.ConfirmPassword" style="">
						<span>
							{{'PASSWORD_NOT_MATCH' | translate}}
						</span>
					</div>
				</md-input-container>-->

                <md-input-container md-is-error="!changePasswordForm.passwordConfirm.$valid" layout-wrap flex="100">
                    <label>{{'NEW_PASSWORD_CONFIRM_(REQUIRED)' | translate}} </label>
                    <input required type="password" ng-model="changePassword.NewPasswordConfirm" id="passwordConfirm" name="passwordConfirm">
                    <!-- <div ng-messages="changePasswordForm.passwordConfirm.$error" class="has-Error" ng-if="changePassword.NewPassword && changePassword.NewPasswordConfirm && changePassword.NewPassword !== changePassword.NewPasswordConfirm">
                        <span ng-message="minlength">
                            {{'PASSWORD_NOT_MATCH' | translate}}
                        </span>

                    </div> -->
                    <div ng-messages="changePasswordForm.passwordConfirm.$error" class="has-Error" ng-if="changePassword.NewPassword && changePassword.NewPasswordConfirm && changePassword.NewPassword !== changePassword.NewPasswordConfirm" style="">
                        <span>
                            {{'PASSWORD_NOT_MATCH' | translate}}
                        </span>
                    </div>
                </md-input-container>

            </div>


        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-primary">
                {{'CANCEL' | translate}}
            </md-button>
            <md-button onclick="jQuery('#button_resetpasss').click()" class="md-primary" ng-disabled="changePasswordForm.$invalid && changePassword.NewPassword !== changePassword.NewPasswordConfirm">
                {{'SAVE' | translate}}
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>