<style>
  .padding10{padding: 10px !important;}
  
	.topHear {
		background-color: rgb(214, 214, 214);
	}

	.topHear th,
	.topHear th md-icon {
		color: #5c5c5d !important;
	}

	.hightli {
		border-right: 1px solid #9e9e9e57 !important;
		background-color: #f2f2f2;
	}

	.invoiceDeleted {
		text-decoration-line: line-through !important;
	}

	.icon-btn {
		cursor: pointer;
	}
	.row_btn button{
		min-width: 45px;
	}
	.btn_hear md-icon{
		fill: #fff;
	}
</style>

<md-dialog aria-label="{{'EXPENDITURE_MANAGE_CASH_RECEIPT' | translate}}" flex="80">
  <form ng-cloak ng-enter="chooseInvoices()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{'COMPANY_INFORMATION' | translate}}</h2>
        <span flex></span>
        <md-button class="btn-c md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content layout-padding>
      <div class="md-dialog-content">
        <section name="filter" layout-gt-sm="row" layout-xs="column" layout-sm="column" layout-align="space-between center">
          <md-autocomplete flex-gt-sm ng-disabled="false" ng-model="filterPayment.company" md-items="item in querySearch(searchCompany)"
            md-item-text="item.CompanyName" md-search-text="searchCompany" md-selected-item-change="setSelected(item, 'filter')"
            md-min-length="0" placeholder="{{'COMPANY_SEARCH' | translate}}">
            <md-item-template>
              <span md-highlight-text="searchCompany" md-highlight-flags="^i">{{item.CompanyName}}</span>
            </md-item-template>
            <md-not-found>
              No states matching "{{searchCompany}}" were found.
            </md-not-found>
          </md-autocomplete>
          
          <md-button class="btn-c md-raised" ng-click="searchPaymentByCompany(filterPayment.company)">
            <md-icon md-svg-src="img/icons/ic_search_48px.svg"></md-icon>&nbsp;{{'SEARCH' | translate}}
          </md-button>
        </section>
        <md-divider style="margin-top:15px;"></md-divider>
        <section layout-gt-sm="row" layout-sm="column" layout-align="space-between center">
          <!-- <div layout="row" layout-sm="column" layout-xs="column" layout-align="space-between center"> -->
            <form name="_addInvoices">
            <md-input-container flex-gt-sm style="position: relative;top:10px;" class="md-block" flex-gt-xs>
            <label>{{ 'THE_NUMBER_PAYMENT' | translate }}</label>
              <input ng-change="getReturnAmount()" placeholder="" ez-focus="isFocusAmount" onkeypress="return event.charCode >= 48 && event.charCode <= 57" type="text" ui-number-mask="decimal" class="ng-pristine ng-valid md-input ng-empty ng-touched" aria-invalid="false" required ui-negative-number ng-model="filterPayment.amount" min="0" max="99999999999999999999999999"/>
            </md-input-container>
            <md-datepicker md-open-on-focus md-min-date="today" flex-gt-sm ng-change="setDayPaid()" ng-model="filterPayment.receiptDate" md-placeholder="{{ 'DAY_PAID' | translate }}"></md-datepicker>
          </form>
          <!-- </div> -->
          <!-- <div layout="row" layout-sm="column">
          </div> -->
        </section>
        <section layout="row" layout-sm="column" layout-align="start center" layout-wrap>
          <md-table-container>
            <table md-table md-row-select multiple ng-model="paymentSelected" md-progress="promiseInvoices">
              <thead class="md-table-progress"><tr><th colspan="5"><md-progress-linear ng-show="deferred()" md-mode="indeterminate" aria-valuemin="0" aria-valuemax="100" role="progressbar" aria-hidden="true" class="ng-hide" style=""><div class="md-container md-mode-indeterminate"><div class="md-dashed"></div><div class="md-bar md-bar1"></div><div class="md-bar md-bar2"></div></div></md-progress-linear></th></tr></thead>
              <thead md-head md-order="query.order">
                <tr md-row class="topHear">
                  <th md-column style="width:150px;">
                    <span>{{'VOUCHERS_DATE' | translate}}</span>
                  </th>
                  <th md-column>
                    <span>{{'EXPENDITURE_MANAGE_RECEIPT_NUMBER' | translate}}</span>
                  </th>
                  <th md-column>
                    <span>{{'PAY_AMOUNT' | translate}}</span>
                  </th>
                  <th md-column>
                    <span>{{'UNPAID_AMOUNT' | translate}}</span>
                  </th>
                  <th md-column>
                    <span>{{'THE_REVENUE' | translate}}</span>
                  </th>
                </tr>
              </thead>
              <tbody md-body>
                <tr md-row md-auto-select md-select="payment" md-select-id="PaymentNumber" ng-repeat="payment in payments" class="md-body-2">
                  <td md-cell>
                    {{payment.CreatedDate | date: 'yyyy/MM/dd'}}
                  </td>
                  <td md-cell>
                    {{payment.PaymentNumber}}
                  </td>
                  <td md-cell>
                    {{payment.Amount | currency}}
                  </td>
                  <td md-cell>
                    {{payment.SubAmount | currency}}
                  </td>
                  <td md-cell>
                    {{payment.payAmount || 0 | currency}}
                  </td>
                </tr>
              </tbody>
              <tfoot md-foot>
                <tr md-row>
                  <td md-cell></td>
                  <td md-cell></td> 
                  <td md-cell></td> 
                  <td md-cell colspan="3" class="padding10">
                    <strong style="text-align: center;" class="totalPayment">
                        {{'EXPENDITURE_TOTAL_AMOUNT' | translate}}&nbsp;<b>
                          {{getTotalPayment2(payments, 'chooseInvoice') | currency}}
                        </b>
                    </strong>
                  </td>
                </tr>
              </tfoot>
            </table>
          </md-table-container>
        </section>
      </div>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-disabled="paymentSelected.length == 0" ng-click="save()" class="btn-c md-raised md-primary">
        <md-icon md-svg-src="img/icons/ic_attach_money_48px.svg"></md-icon>&nbsp;
        {{ 'PAY' | translate }}
      </md-button>
      <md-button ng-click="cancel()" class="btn-c md-raised md-warn">
        <md-icon md-svg-src="img/icons/ic_cancel_48px.svg"></md-icon>&nbsp;
        {{ 'CANCEL' | translate }}
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>