<style>
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		opacity: 1;
	}

	.k-datetimepicker .k-picker-wrap .k-icon {
		margin: 6px 2px;
	}

	.k-i-calendar {
		background-position: -32px -176px !important;
	}

	.k-i-clock {
		background-position: -32px -192px !important;
	}

	md-list-item,
	md-list-item .md-list-item-inner {
		min-height: 48px;
		height: 50px;
	}
</style>
<md-dialog aria-label="Amend Stay" flex-gt-xs="80" flex-xs="98" ng-cloak>
	<form name="amendStayForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{'COPY_RESERVATION' | translate}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel(currentRoom)">
					<md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" layout="row" layout-wrap layout-align="space-between start" flex="100" style="padding-bottom: 20px;width: 100%;">
				<section flex-gt-xs="45" flex-xs="100" flex-sm="100" layout="column" style="padding-bottom: 20px;">
					<md-list style="padding: 0px;">
						<md-subheader class="md-no-sticky">{{'NEW_RESERVATION' | translate}}</md-subheader>
						<md-list-item>
							<p>{{ 'ROOM_TYPE' | translate }}</p>
							<md-select ng-model="newRoom.RoomTypeId" class="md-secondary" ng-change="update();">
								<md-select-label></md-select-label>
								<md-option ng-repeat="rt in roomTypes" ng-value="rt.RoomTypeId">{{ rt.RoomTypeName | translate }}</md-option>
							</md-select>
						</md-list-item>
						<md-list-item>
							<p>{{ 'ROOM' | translate }}</p>
							<md-select ng-model="newRoom.RoomId" class="md-secondary">
								<md-select-label style="width:100%"></md-select-label>
								<md-option ng-value="0">{{'SELECT_ROOM' | translate}}</md-option>
								<md-option ng-repeat="r in availableRoom | filter: {RoomTypeId:newRoom.RoomTypeId}" ng-value="r.RoomId">{{r.RoomName}}</md-option>
							</md-select>
						</md-list-item>

						<md-list-item>
							<p>{{ 'RATE' | translate }}</p>
							<md-select ng-model="newRoom.RoomPriceId" class="md-secondary">
								<md-select-label style="width:100%"></md-select-label>
								<md-option ng-repeat="plan in availablePlanList" ng-value="plan.RoomPriceId" ng-selected="plan.RoomPriceId.toString() === availablePlanList[0].RoomPriceId.toString()">{{plan.RoomPriceName | translate}}</md-option>
							</md-select>
						</md-list-item>

						<md-list-item>
							<p>{{ 'PRICE' | translate }}</p>
							<md-input-container class="md-secondary">

								<input type="text" style="width:100%" ng-model="newRoom.Price" ui-number-mask="decimal" required>
							</md-input-container>
						</md-list-item>
						<md-list-item ng-if="currentRoom.reservationRoom">
							<p>{{ 'ARRIVAL' | translate }}</p>
							<!-- <div flex="60"> -->
							<input class="md-secondary" kendo-date-time-picker ng-model="str" k-ng-model="currentRoom.reservationRoom.ArrivalDate" style="width: 100%;"
							 k-options="DateTimePickerOption" />
							<!-- </div> -->
						</md-list-item>
						<md-list-item ng-if="!currentRoom.reservationRoom">
							<p>{{ 'ARRIVAL' | translate }}</p>
							<!-- <div flex="60"> -->
							<input class="md-secondary" kendo-date-time-picker ng-model="str" k-ng-model="currentRoom.ArrivalDate" style="width: 100%;"
							 k-options="DateTimePickerOption" />
							<!-- </div> -->
						</md-list-item>
						<md-list-item style="margin-top: 24px" ng-if="currentRoom.reservationRoom">
							<p>{{ 'DEPARTURE' | translate }}</p>
							<div>
								<input class="md-secondary" kendo-date-time-picker ng-model="str2" k-ng-model="currentRoom.reservationRoom.DepartureDate"
								 style="width: 100%;" k-options="DateTimePickerOption" />
							</div>
						</md-list-item>
						<md-list-item style="margin-top: 24px" ng-if="!currentRoom.reservationRoom">
							<p>{{ 'DEPARTURE' | translate }}</p>
							<div>
								<input class="md-secondary" kendo-date-time-picker ng-model="str2" k-ng-model="currentRoom.DepartureDate" style="width: 100%;"
								 k-options="DateTimePickerOption" />
							</div>
						</md-list-item>

						<md-list-item>
							<p>{{'NOTE' | translate}}</p>
							<!--							<textarea style="width: 100%; border: none;" ng-disabled="true" columns="1" rows="5" ng-bind="room.Note"/>-->
							<md-input-container flex="80" style="margin-bottom: 0px;">
								<label></label>
								<textarea style="width: 100%;" columns="1" rows="5" ng-model="newRoom.Note" />
							</md-input-container>

						</md-list-item>
						<!--<md-list-item>
                    <textarea style="width: 100%; border: none;" ng-disabled="true" columns="1" rows="5" ng-bind="room.Note"/>
                </md-list-item>-->

					</md-list>


					<div>
						<fieldset layout="column" layout-align="center center" class="standard" style="border-style: solid; border-width: 1px;border-color: #f44336;"
						 ng-if="warning === true">
							<span style="font-weight: 600; color: #f44336;">{{'WARNING' | translate}}!</span>
							<span style="color: #f44336;">
								{{'ROOM_IS_NOT_AVAILABLE_FOR_SELECTED_DATES' | translate}}. {{'CONFLICT_WITH_RESERVATION' | translate}} {{currentRoom.roomBookingList[0].ReservationRoomId}}
							</span>
						</fieldset>
					</div>
				</section>
				<section flex flex-xs="100" flex-sm="100" ng-if="currentRoom.reservationRoom">
					<md-list style="padding: 0px;">

						<md-subheader class="md-no-sticky">{{'CURRENT_RESERVATION' | translate}}</md-subheader>
						<md-list-item>
							<p>{{ 'RES_NO' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.reservationRoom.Reservations.ReservationNumber }}</p>
						</md-list-item>

						<md-list-item>
							<p>{{ 'ROOM' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.RoomName }}({{currentRoom.roomType.RoomTypeName | translate}})</p>
						</md-list-item>

						<md-list-item>
							<p>{{ 'PRICE_RATE' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.RoomPriceName | translate}}</p>
						</md-list-item>

						<md-list-item>
							<p>{{ 'PRICE' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.reservationRoom.Price | currency}}</p>
						</md-list-item>
						<md-list-item>
							<p>{{ 'ADULTS' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.reservationRoom.Adults }}</p>
						</md-list-item>
						<md-list-item>
							<p>{{ 'CHILDREN' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.reservationRoom.Child }}</p>
						</md-list-item>

						<md-list-item>
							<p>{{ 'GUEST' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.reservationRoom.Travellers.Fullname }}</p>
						</md-list-item>
						<md-list-item ng-if="currentRoom.reservationRoom.Company">
							<p>{{ 'COMPANY' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.reservationRoom.Company.CompanyName }}</p>
						</md-list-item>
						<md-list-item ng-if="currentRoom.reservationRoom.Source">
							<p>{{ 'SOURCE' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.reservationRoom.Source.SourceName }}</p>
						</md-list-item>
						<md-list-item ng-if="currentRoom.reservationRoom.Market">
							<p>{{ 'MARKET' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.reservationRoom.Market.MarketName }}</p>
						</md-list-item>

						<md-list-item ng-if="currentRoom.reservationRoom.Note">
							<p>{{ 'NOTE' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.reservationRoom.Note }}</p>
						</md-list-item>

					</md-list>
				</section>
				<section flex flex-xs="100" flex-sm="100" ng-if="!currentRoom.reservationRoom">
					<md-list style="padding: 0px;">
						<md-subheader class="md-no-sticky">{{'CURRENT_ROOM' | translate}}</md-subheader>
						<md-list-item>
							<p>{{ 'RES_NO' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.Reservations.ReservationNumber }}</p>
						</md-list-item>

						<md-list-item>
							<p>{{ 'ROOM' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.Rooms.RoomName }}({{currentRoom.RoomTypes.RoomTypeName | translate}})</p>
						</md-list-item>
						<md-list-item ng-if="currentRoom.RoomPriceName">
							<p>{{ 'PRICE_RATE' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.RoomPriceName | translate }}</p>
						</md-list-item>
						<md-list-item ng-if="!currentRoom.RoomPriceName">
							<p>{{ 'PRICE_RATE' | translate }}</p>
							<p class="md-secondary" style="font-style: italic;">{{ 'NOT_ASSIGNED' | translate }}</p>
						</md-list-item>
						<md-list-item>
							<p>{{ 'PRICE' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.Price | currency }}</p>
						</md-list-item>
						<md-list-item>
							<p>{{ 'ADULTS' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.Adults }}</p>
						</md-list-item>
						<md-list-item>
							<p>{{ 'CHILDREN' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.Child }}</p>
						</md-list-item>
						<md-list-item>
							<p>{{ 'GUEST' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.Travellers.Fullname }}</p>
						</md-list-item>
						<md-list-item ng-if="currentRoom.Company">
							<p>{{ 'COMPANY' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.Company.CompanyName }}</p>
						</md-list-item>
						<md-list-item ng-if="currentRoom.Source">
							<p>{{ 'SOURCE' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.Source.SourceName }}</p>
						</md-list-item>
						<md-list-item ng-if="currentRoom.Market">
							<p>{{ 'MARKET' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.Market.MarketName }}</p>
						</md-list-item>

						<md-list-item ng-if="currentRoom.Note">
							<p>{{ 'NOTE' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.Note }}</p>
						</md-list-item>
						<!--<md-list-item>
							<p>{{ 'NOTE' | translate }}</p>
							<p class="md-secondary">{{ currentRoom.Note }}</p>
						</md-list-item>-->

					</md-list>
				</section>
				<section flex="100">
					<fieldset layout="column" layout-align="center center" class="standard" style="border-style: solid; border-width: 1px;border-color: #f44336;"
					 ng-if="warningMissingRoom === true">
						<span style="font-weight: 600; color: #f44336;">{{'WARNING' | translate}}!</span>
						<span style="color: #f44336;">
							{{'MISSING_ROOM._PLEASE_SELECT_A_ROOM_TO_PERFORM_ROOM_MOVE_ACTION' | translate}}.
						</span>
					</fieldset>
					<fieldset layout="column" layout-align="center center" class="standard" style="border-style: solid; border-width: 1px;border-color: #f44336;"
					 ng-if="warningMissingPrice === true">
						<span style="font-weight: 600; color: #f44336;">{{'WARNING' | translate}}!</span>
						<span style="color: #f44336;">
							{{'MISSING_PRICE._PLEASE_SELECT_A_PRICE_TO_PERFORM_ROOM_MOVE_ACTION' | translate}}.
						</span>
					</fieldset>
					<!--<fieldset layout="column" layout-align="center center" class="standard" style="border-style: solid; border-width: 1px;border-color: #f44336;" ng-if="warningMissingReason === true">
						<span style="font-weight: 600; color: #f44336;">{{'WARNING' | translate}}!</span>
						<span style="color: #f44336;">
							{{'ROOM_MOVE_REASON_CAN_NOT_BE_EMPTY' | translate}}. 
						</span>
					</fieldset>-->
					<fieldset layout="column" layout-align="center center" class="standard" style="border-style: solid; border-width: 1px;border-color: #f44336;"
					 ng-if="warningDate === true">
						<span style="font-weight: 600; color: #f44336;">{{'WARNING' | translate}}!</span>
						<span style="color: #f44336;">
							{{'ARRIVAL_DATE_CAN_NOT_GREATER_THAN_DEPARTURE_DATE' | translate}}.
						</span>
					</fieldset>
					<fieldset layout="column" layout-align="center center" class="standard" style="border-style: solid; border-width: 1px;border-color: #f44336;"
					 ng-if="warning === true">
						<span style="font-weight: 600; color: #f44336;">{{'WARNING' | translate}}!</span>
						<span style="color: #f44336;">
							{{'ROOM_IS_NOT_AVAILABLE_FOR_SELECTED_DATES' | translate}}.
						</span>
					</fieldset>
					<fieldset layout="column" layout-align="center center" class="standard" style="border-style: solid; border-width: 1px;border-color: #f44336;"
					 ng-if="warningDepartureDate === true">
						<span style="font-weight: 600; color: #f44336;">{{'WARNING' | translate}}!</span>
						<span style="color: #f44336;">
							{{'ARRIVAL_DATE_AND_DEPARTURE_DATE_CAN_NOT_LESS_THAN_CURRENT_TIME' | translate}}.
						</span>
					</fieldset>
				</section>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button ng-click="cancel(currentRoom)" class="md-primary">
				{{'CANCEL' | translate}}
			</md-button>
			<md-button ng-click="processCopy()" class="md-primary">
				{{'PROCESS' | translate}}
			</md-button>
		</md-dialog-actions>

	</form>

</md-dialog>