<md-dialog aria-label="Room Type Create" ng-cloak>
	<form ng-submit="saveNewRoomType(newRoomType)">
		<button class="hide" id="btn_saveNewRoomType"></button>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{'CREATE_ROOM_TYPE' | translate}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			
				<div class="md-dialog-content" layout="row" layout-wrap flex="100">
					<md-input-container flex="100">
						<label>{{'ROOM_TYPE_NAME' | translate}} ({{'REQUIRED' | translate}})</label>
						<input md-autofocus required ng-model="newRoomType.RoomTypeName">
					</md-input-container>
					<md-input-container flex="100">
						<label>{{'ROOM_TYPE_CODE' | translate}} ({{'REQUIRED' | translate }})</label>
						<input required ng-model="newRoomType.RoomTypeCode">
					</md-input-container>
					<md-input-container flex="100">
						<label>{{'DEFAULT_ADULTS' | translate}}</label>
						<input type="number" string-to-number ng-model="newRoomType.DefaultAdults" min="0">
					</md-input-container>
					<md-input-container flex="100">
						<label>{{'DEFAULT_CHILDREN' | translate}}</label>
						<input type="number" string-to-number ng-model="newRoomType.DefaultChilds" min="0">
					</md-input-container>
					<md-input-container flex="100">
						<label>{{'PRICE' | translate}} ({{'REQUIRED' | translate}})</label>
						<input required type="text" ui-number-mask="decimal" ng-model="newRoomType.Price">
					</md-input-container>
					<!--<md-input-container flex="100">
						<label>{{'ORDER_NUMBER' | translate}}</label>
						<input  type="number" ng-model="newRoomType.OrderNumber">
					</md-input-container>-->
					<md-input-container flex="100">
						<label>{{'DESCRIPTION' | translate}}</label>
						<input ng-model="newRoomType.RoomTypeDescription">
					</md-input-container>

				</div>
			
		</md-dialog-content>

		 <md-dialog-actions layout="row">
			<md-button ng-click="cancel()" class="md-primary">
				{{'CANCEL' | translate}}
			</md-button>
			<md-button onclick="jQuery('#btn_saveNewRoomType').click()" class="md-primary" ng-disabled="!newRoomType.RoomTypeName || !newRoomType.RoomTypeCode ">
				{{'CREATE' | translate}}
			</md-button>
		</md-dialog-actions>

	</form>

</md-dialog>