<md-dialog aria-label="Delete Invoice" flex-gt-xs="50" flex-xs="98">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'DELETE_INVOICE' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
                <form name="deletePayment" ng-submit="save()">
                    <button id="btn_deleteinvoice" class="hide"></button>
                    <div class="md-dialog-content" layout="row" layout-wrap flex="100">
                        <md-input-container flex="100" style="margin: 12px 0px;">
                            <label>{{'DELETE_REASON' | translate}}</label>
                            <input style="width: 100%;" type="text" ng-model="deleteReason"/>
                        </md-input-container>
                    </div>
                </form>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-primary">
                {{'CANCEL' | translate}}
            </md-button>
            <md-button onclick="jQuery('#btn_deleteinvoice').click()"  class="md-primary">
                {{'SAVE' | translate}}
            </md-button>
        </md-dialog-actions>
</md-dialog>