<style>
	input[type=number]::-webkit-inner-spin-button,
	input[type=number]::-webkit-outer-spin-button {
		opacity: 1;
	}
	
	.k-datetimepicker .k-picker-wrap .k-icon {
		margin: 6px 2px;
	}
	
	.k-i-calendar {
		background-position: -32px -176px !important;
	}
	
	.k-i-clock {
		background-position: -32px -192px !important;
	}
</style>
<md-dialog aria-label="{{'CHECKOUT_IN_THE_PAST' | translate}}">
	<form name="addRemarkForm">
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{'EDIT_ARRIVAL_DATE' | translate}} </h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" layout="row" layout-wrap flex="100">
				<div layout="row" layout-align="start center" flex="100">
					<span flex="25" style="">{{'ARRIVAL' | translate}}</span>
					<div flex>
						<input kendo-date-time-picker ng-model="str" k-ng-model="newArrivalDate" max="today" style="width: 100%;" k-options="DateTimePickerOption" />
					</div>
				</div>
			</div>
			<section>
				<fieldset layout="column" layout-align="center center" class="standard" style="border-style: solid; border-width: 1px;border-color: #f44336;" ng-if="warningInvaliArrivalDate === true">
					<span style="font-weight: 600; color: #f44336;">{{'WARNING' | translate}}!</span>
					<span style="color: #f44336;">
							{{'INVALID_ARRIVAL_DATE' | translate}}. 
						</span>
				</fieldset>
			</section>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button ng-click="cancel()" class="md-primary">
				{{'CANCEL' | translate}}
			</md-button>
			<md-button ng-click="processEditArrivalDate()" class="md-primary">
				{{'SAVE' | translate}}
			</md-button>
		</md-dialog-actions>

	</form>

</md-dialog>