<md-dialog aria-label="Edit Source" flex-gt-xs="98" flex-xs="98">
	<form ng-submit="editCompany()">
	<button class="hide" id="btn_edit_company"></button> 
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{'EDIT_COMPANY' | translate}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>

		<md-dialog-content>
			<div class="md-dialog-content" layout="row" layout-wrap flex="100" layout-align="space-between start">
				<div layout="row" layout-wrap flex-gt-sm="45" flex-xs="100" flex-sm="100" style="margin-right: 12px;">
				<form>
					<md-subheader class="md-primary">
						{{'COMPANY_INFORMATION' | translate}}
					</md-subheader>
					<md-input-container flex="100">
						<label>{{'COMPANY_CODE' | translate}}</label>
						<input required ng-model="company.CompanyCode" ng-disabled="true">
					</md-input-container>
					<md-input-container flex="100">
						<label>{{'COMPANY_NAME' | translate}}</label>
						<input required ng-model="company.CompanyName" ng-change="verifyDuplicate('COMPANY_NAME')">
						<span ng-if="verifyCompanyName" style="margin-top: 3px; color: #f44336; font-weight: bold;font-size: 10px;">
							{{'COMPANY_NAME_ALREADY_IN_USE' | translate}}
					</span>
					</md-input-container>

					<md-input-container flex="100">
						<label>{{'DESCRIPTION' | translate}}</label>
						<input ng-model="company.Description">
					</md-input-container>

					<md-input-container style="" flex="100">
						<label>{{'DEFAULT_SOURCE' | translate}} </label>
						<md-select ng-model="company.SourceId" style="margin-bottom: 24px;">
							<md-option value="0">{{'SELECTET_A_SOURCE' | translate}}</md-option>
							<md-option ng-repeat="source in sourceList" ng-value="source.SourceId">{{source.SourceName}}</md-option>
						</md-select>
					</md-input-container>

					<md-input-container flex="100">
						<label>{{'COMPANY_MOBILE' | translate}}</label>
						<input ng-model="company.CompanyMobile">
					</md-input-container>
					<md-input-container flex="100">
						<label>{{'COMPANY_PHONE' | translate}}</label>
						<input ng-model="company.CompanyPhone">
					</md-input-container>
					<md-input-container flex="100">
						<label>{{'COMPANY_EMAIL' | translate}}</label>
						<input ng-model="company.CompanyEmail">
					</md-input-container>
					<md-input-container flex="100">
						<label>{{'COMPANY_FAX' | translate}}</label>
						<input ng-model="company.CompanyFax">
					</md-input-container>
				</div>
				<div flex layout="row" layout-wrap>
					<md-subheader class="md-primary">
						{{'CONTACT_INFORMATION' | translate}}
					</md-subheader>
					<md-input-container flex="100">
						<label>{{'CONTACT_NAME' | translate}}</label>
						<input ng-model="company.ContactName">
					</md-input-container>
					<!-- mã số thuế -->
					<md-input-container flex="100">
						<label>{{'COMPANY_VATCODE' | translate}}</label>
						<input ng-model="company.CompanyVatCode" ng-change="verifyDuplicate('COMPANY_VATCODE')">
						<span ng-if="verifyCompanyVatCode" style="margin-top: 3px; color: #f44336; font-weight: bold;font-size: 10px;">
							{{'COMPANY_VATCODE_ALREADY_IN_USE' | translate}}
					</span>
					</md-input-container>
					<!-- end -->
					<md-input-container flex="100">
						<label>{{'CONTACT_EMAIL' | translate}}</label>
						<input ng-model="company.ContactEmail">
					</md-input-container>
					<md-input-container flex="100">
						<label>{{'CONTACT_MOBILE' | translate}}</label>
						<input ng-model="company.ContactMobile">
					</md-input-container>
					<md-input-container flex="100">
						<label>{{'CONTACT_ADDRESS' | translate}}</label>
						<input ng-model="company.ContactAddress">
					</md-input-container>
					<md-input-container flex="100">
						<label>{{'CONTACT_POSITION' | translate}}</label>
						<input ng-model="company.ContactPosition">
					</md-input-container>
				</div>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button ng-click="cancel()" class="md-primary">
				{{'CANCEL' | translate}}
			</md-button>
			<md-button ng-click="editCompany()" onclick="jQuery('#btn_edit_company').click()"  class="md-primary" ng-disabled="!company.CompanyName || company.CompanyName.trim() =='' || verifyCompanyName == true || !company.CompanyCode || company.CompanyCode.trim() =='' || verifyCompanyCode == true">
				{{'SAVE' | translate}}
			</md-button>
		</md-dialog-actions>
	</form>

</md-dialog>