<style>
    md-list-item ._md-no-style {
        padding: 0;
    }
</style>

<md-dialog aria-label="Room Edit">
    <form ng-submit="saveEdited(roomEditing)">
        <button class="hide" id="btn_saveEdited"></button>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'EDIT_ROOM' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>

            <div class="md-dialog-content" layout="row" layout-wrap flex="100">

                <md-input-container flex="100">
                    <label>{{'ROOM_NAME' | translate}} ({{'REQUIRED' | translate}})</label>
                    <input md-autofocus required ng-model="roomEditing.RoomName" md-maxlength="10" maxlength="10" ng-trim="true" > 
                </md-input-container>

                <md-select ng-disabled="warning === true" ng-model="roomEditing.RoomTypeId" flex="100">
                    <md-select-label style="width: 100%;"></md-select-label>
                    <md-option value="{{roomType.RoomTypeId}}" ng-repeat="roomType in allRoomTypes">
                        {{roomType.RoomTypeName}}
                    </md-option>
                </md-select>
                <md-select ng-model="roomEditing.FloorId" placeholder="{{'CHOOSE_FLOOR' | translate}}" flex="100" ng-disabled="IsFloorDisabled">
                    <md-select-label style="width: 100%"></md-select-label>
                    <md-option ng-value="0">{{'SELECT_FLOOR' | translate}}</md-option>
                    <md-option value="{{f.FloorId}}" ng-repeat="f in floors" ng-hide="IsFloorDisabled == false && f.IsActive == false">
                        {{f.FloorName}}
                    </md-option>
                </md-select>
                <!--<md-input-container flex="100">
                    <label>{{'LOCATION' | translate}}</label>
                    <input ng-model="roomEditing.RoomLocation">
                </md-input-container>-->
                <md-input-container flex="100">
                    <label>{{'DESCRIPTON' | translate}}</label>
                    <input ng-model="roomEditing.RoomDescription">
                </md-input-container>

                <md-list-item flex="100">
                    <label>{{'USE_LOCK'|translate}}</label>
                    <md-switch ng-model="roomEditing.UseLock" aria-label="Switch" class="md-warn md-secondary">
                    </md-switch>
                </md-list-item>

            </div>

        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-primary">
                {{'CANCEL' | translate}}
            </md-button>
            <md-button onclick="jQuery('#btn_saveEdited').click()" class="md-primary" ng-disabled="!roomEditing.RoomName">
                {{'SAVE' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>