<md-dialog aria-label="Edit Sharer">
    <form name="editCustomerForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'EDIT_SHARER' | translate}}</h2>
                <md-button ng-if="isUsePassport" class="md-icon-button" onclick="su.open(receivePassportInfo)">
                    <md-icon class="md-inline-list-icon" md-svg-icon="img/icons/ic_account_box_48px.svg">
                        </ng-md-icon>
                </md-button>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon class="md-inline-list-icon" md-svg-icon="img/icons/ic_close_48px.svg">
                        </ng-md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content" layout="row" layout-wrap flex="100">
                <md-radio-group ng-model="isChild" layout="row" style="padding-bottom: 12px;">
                    <md-radio-button ng-value="false"> {{'ADULT' | translate}} </md-radio-button>
                    <md-radio-button ng-value="true">{{'CHILD' | translate}}</md-radio-button>

                </md-radio-group>
                
                <div flex="100" layout="row" layout-wrap layout-align="space-between">
                    <md-input-container flex="66" style="margin-bottom: 0px;">
                        <label>{{'SHARER_NAME'|translate}}</label>
                        <input type="text" ng-model="sharer.customer.Fullname">
                    </md-input-container>
                    <div flex="30" layout="row" style="position:relative;margin-bottom: 0px;">
                         <md-select flex ng-model="sharer.customer.Gender" placeholder="{{'GENDER' | translate}}" style="">
                            <md-select-label style="width:100%"></md-select-label>
                            <md-option ng-value="0">{{'MALE' | translate}}</md-option>
                            <md-option ng-value="1">{{'FEMALE' | translate}}</md-option>
                            <md-option ng-value="2">{{'OTHER' | translate}}</md-option>
                        </md-select>
                    </div>
                </div>
                
                <div flex="100" layout="row" layout-wrap layout-align="space-between">
                    <md-input-container flex-gt-xs="45" flex-xs="100">
                         <label>{{'IDENTITY_NUMBER'|translate}}</label>
                        <input type="text" ng-model="sharer.customer.IdentityNumber">
                    </md-input-container>
                    <!--<md-input-container flex-gt-xs="45" flex-xs="100">
						<label>{{'BIRTHDAY'|translate}}</label>
						<input type="date" ng-model="customer.Birthday">
					</md-input-container>-->
                    <div layout="row" layout-align="start center" flex-gt-xs="45" flex-xs="100">
                        <span flex="30" style="">{{'BIRTHDAY' | translate}}</span>
                        
                        <div flex>
                            <input kendo-date-picker  k-ng-model="sharer.customer.Birthday" style="width: 100%;" k-options="DatePickerOption"  />                      
                        </div>
                    </div>
                </div>
                
               
                 <div flex="100" layout="row" layout-wrap  layout-align="space-between">
                    <md-input-container flex-gt-xs="45" flex-xs="100">
                       <label>{{'MOBILE'|translate}}</label>
                        <input type="text" ng-model="sharer.customer.Mobile">
                    </md-input-container>
                    <md-input-container flex-gt-xs="45" flex-xs="100">
                       <label>{{'EMAIL'|translate}}</label>
                        <input type="email" ng-model="sharer.customer.Email">
                    </md-input-container>
                </div>
             
                 <div flex="100" layout="row" layout-wrap>
                    <md-input-container flex="100">
                        <label>{{'ADDRESS'| translate}}</label>
                        <input type="text" ng-model="sharer.customer.Address" />
                    </md-input-container>
                </div> 
                
                 <div flex="100" layout="row" layout-wrap layout-align="space-between start">
                    <md-input-container class="md-block" flex="100">
                        <label>{{ 'COUNTRY' | translate }}</label>
                        <!-- <md-select ng-model="sharer.customer.CountryId">                        
                            <md-option value="0">{{ 'COUNTRY' | translate }}</md-option>
                            <md-option ng-repeat="country in Countries" ng-value="country.CountryId">{{country.CountryName}}</md-option>
                        </md-select> -->

                         <md-autocomplete md-selected-item="selectedCountries" md-search-text-change="searchCountriesTextChange(searchCountriesText)" md-search-text="searchCountriesText"
                                    md-selected-item-change="selectedCountriesChange(item)" md-items="item in queryCountriesSearch(searchCountriesText)"
                                    md-item-text="item.CountryName" md-min-length="0" md-menu-class="autocomplete-custom-template"
                                    >
                                    <md-item-template>
                                        <span class="item-title">
                                                <md-icon md-svg-src="img/icons/ic_business_24px.svg"></md-icon>
                                                <span style="margin: auto;"> {{item.CountryName}} </span>
                                        </span>
                                    </md-item-template>
                        </md-autocomplete>

                    </md-input-container>

                     <section>
                        <fieldset layout="column" layout-align="center center" class="standard" style="border-style: solid; border-width: 1px;border-color: #f44336;" ng-if="warningCountry === true">
                            <span style="font-weight: 600; color: #f44336;">{{'WARNING' | translate}}!</span>
                            <span style="color: #f44336;">
                                {{'COUNTRY_VALUE_FIELD_CAN_NOT_BE_BLANK' | translate}}. 
                            </span>
                        </fieldset>
                       
                    </section>
                </div>
              <md-input-container class="md-block" flex="100">
                    <label>{{ 'NOTE' | translate }}</label>
                    <textarea style="width: 100%;" columns="1" rows="5" ng-model="sharer.customer.Note" />
                </md-input-container>
            </div>
            
        </md-dialog-content>

        <div class="md-actions" layout="row">
            <md-button ng-click="cancel()" class="md-primary">
                {{'CANCEL' | translate}}
            </md-button>
            <md-button ng-click="saveSharer()" class="md-primary">
                {{'SAVE' | translate}}
            </md-button>
            <span id="btnSavePassportInfoEditSharer" ng-click="saveInfoPassport()" class="hide"></span>
        </div>
</md-dialog>
<script>
    function receivePassportInfo(data) {
        console.log("passport infor",data);
        var info = angular.copy(data);       
        
        FullnameCustomer =  info.LastName + " " + info.FirstName; 
        Gender = info.Gender;
        IdentityNumber = info.DocumentNumber;
        Birthday = info.DateOfBirth;
        ValidUntil = info.ValidUntil;
        CountryCode = info.NationalityCode;
        ImageLocation = info.ImageLocation;
        
        document.getElementById('btnSavePassportInfoEditSharer').click(); 
    }
</script>