<md-dialog aria-label="Group Pax Operation" ng-cloak >
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'GROUP_PAX_OPERATION' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="row" layout-wrap flex="100">
                <div flex="100" layout="row" layout-align="center center">
                    <span style="font-weight: 600" flex="30">
                            {{'ADULT' | translate}}
                        </span>
                    <div flex="30">
                        <md-input-container style="padding: 0px;">
                            <input type="number" min="1" ng-model="newPax.NewAdult" style="width: 80%;" />
                        </md-input-container>
                    </div>
                </div>
                <div flex="100" layout="row" layout-align="center center">
                    <span style="font-weight: 600" flex="30">
                            {{'CHILDREN' | translate}}
                        </span>
                    <div flex="30">
                        <md-input-container style="padding: 0px;">
                            <input type="number" min="0" ng-model="newPax.NewChildren" style="width: 80%;" />
                        </md-input-container>
                    </div>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-primary">
                {{'CANCEL' | translate}}
            </md-button>
            <md-button ng-click="saveGroupPaxOperation()" class="md-primary">
                {{'APPLY' | translate}}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
