<style>
    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        opacity: 1;
    }
    
    .wordbreak {
        word-break: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
</style>
<md-dialog aria-label="{{'CUSTOMER_SEARCH' | translate}}" ng-cloak>
    <form name="amendStayForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'CUSTOMER_SEARCH' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content style="max-width: 100%; max-height: 100%;">
            <div class="md-dialog-content" layout="row" layout-wrap flex="100">
                <section flex="100">
                    <div layout="row" layout-align="space-between center" layout-wrap flex="100">
                        <md-input-container flex-gt-xs="45" flex-xs="100">
                            <label>{{'CUSTOMER_NAME'|translate}}</label>
                            <input type="text" ng-model="customer.Fullname">
                        </md-input-container>
                        <md-input-container flex-gt-xs="45" flex-xs="100">
                            <label>{{'IDENTITY_NUMBER'|translate}}</label>
                            <input type="text" ng-model="customer.IdentityNumber">
                        </md-input-container>
                    </div>
                    <div layout="row" layout-align="space-between center" layout-wrap flex="100">
                        <md-input-container flex-gt-xs="45" flex-xs="100">
                            <label>{{'MOBILE'|translate}}</label>
                            <input type="text" ng-model="customer.Mobile">
                        </md-input-container>
                        <md-input-container flex-gt-xs="45" flex-xs="100">
                            <label>{{'EMAIL'|translate}}</label>
                            <input type="email" ng-model="customer.Email">
                        </md-input-container>
                    </div>

                </section>
                <section style="padding-top: 8px;" flex="100">
                    <md-list>
                        <md-subheader class="md-no-sticky">{{'CUSTOMER_LIST' | translate}}</md-subheader>
                        <md-list-item class="md-3-line md-long-text" ng-repeat="cus in customerList | filter:customer.Fullname | filter:customer.IdentityNumber | filter: customer.Mobile | filter: customer.Email" style="margin: 0px; padding: 0px;padding-top: 12px; padding-bottom: 12px;">
                            <div ng-click="bindingSelectedCustomer(cus)" ng-mouseenter="hover = true" ng-mouseleave="hover = false" style="width: 100%;">
                                <div class="md-list-item-text" layout="column">
                                    <h3 style="font-weight: bold"><md-icon md-svg-src="img/icons/ic_face_24px.svg" style="height: 20px; width: 20px;margin-bottom: 4px;"></md-icon>   {{ cus.Fullname }}</h3>
                                    <h4 style="font-weight: 400"><md-icon md-svg-src="img/icons/ic_credit_card_24px.svg" style="height: 20px; width: 20px;margin-bottom: 4px;"></md-icon>   {{ cus.IdentityNumber }}</h4>
                                    <p>
                                        <md-icon md-svg-src="img/icons/ic_phone_iphone_24px.svg" style="height: 20px; width: 20px;margin-bottom: 4px;"></md-icon> {{ cus.Mobile}}
                                        </br>
                                        <md-icon md-svg-src="img/icons/ic_email_24px.svg" style="height: 20px; width: 20px;margin-bottom: 4px;"></md-icon> {{ cus.Email}}
                                    </p>
                                </div>
                            </div>
                            <md-divider></md-divider>
                        </md-list-item>
                    </md-list>
                </section>
            </div>
        </md-dialog-content>

        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" class="md-primary">
                {{'CANCEL' | translate}}
            </md-button>
        </md-dialog-actions>

    </form>

</md-dialog>