<style>
    .ng-inline-edit__input {
        border: 0;
        outline: 0;
        display: inline-block;
        -webkit-appearance: none;
        -moz-appearance: none;
        border-bottom: 1px dashed #333;
    }

    .ng-inline-edit__inner-container {
        display: inline-block;
        color: #00f;
        /*margin-left: 5px;*/
        white-space: nowrap;
    }

    .ng-inline-edit__button {
        cursor: pointer;
        margin-left: 8px;
    }

    md-list-item,
    md-list-item .md-list-item-inner {
        min-height: 48px;
        height: 50px;
    }
</style>
<md-dialog aria-label="{{'CONFIRM' | translate}}" flex-xs="100" flex-sm="100" flex-gt-sm="60">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="md-headline">
                    {{'ADD_EXTRA_SERVICE_CONFIRM' | translate}}
                </h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_48px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content" layout="row" layout-wrap flex="100" style="width: 100%;">
                <md-list flex="100">
                    <md-list-item ng-repeat="item in items.items" ng-if="items != null || items != undefined">
                        <p ng-if="item.ExtraServiceTypeName!='EXTRA_SERVICES'">
                            {{item.item.ExtraServiceItemName | truncate:25}}
                            <span ng-show="item.item.ExtraServiceItemName.length> 25">...</span> ({{item.quantity}} {{item.item.Unit}} ({{item.item.Price | currency }}/{{item.item.Unit}})
                            <span inline-edit="item.item.Price" inline-edit-filter="currency" inline-edit-btn-save="{{'SAVE' | translate}}" inline-edit-btn-cancel="{{'CANCEL' | translate}}"
                                ng-if="item.item.IsChangeable == true"></span>
                            <span ng-if="item.item.IsChangeable == false">{{item.item.Price | currency}})</span>
                        </p>
                        <p ng-if="item.ExtraServiceTypeName=='EXTRA_SERVICES'">
                            {{item.quantity}} x {{item.item.RoomExtraServiceDescription | truncate:25}} ({{item.item.Amount | currency}})
                        </p>
                        <!-- <span>{{item.item.Price | currency}})</span> -->
                        <span class="md-secondary">
                            {{item.quantity * item.item.Price | currency}}
                        </span>
                        <md-divider></md-divider>
                    </md-list-item>
                    <md-divider></md-divider>
                    <md-list-item>
                        <p>
                            <strong>{{'TOTAL' | translate}}: </p>
                        <span class="md-secondary" style="font-weight:bold">{{getTotal(items,extraServiceNoItem) | currency}}</span>
                        </strong>
                    </md-list-item>
                </md-list>
            </div>
        </md-dialog-content>

        <div class="md-actions" layout="row">
            <md-button ng-click="cancel()" class="md-primary">
                {{'CANCEL' | translate}}
            </md-button>
            <md-button ng-click="addExtraService()" class="md-primary">
                {{'CONFIRM' | translate}}
            </md-button>
        </div>

    </form>
</md-dialog>