<style>
  .CHECKINCOLOR {
    background-color: #f44336;
/*		color: #ffffff;*/
  }
  
  .CHECKOUTCOLOR {
    background-color: #e91e63;
  }
  
  .RESERVATIONCOLOR {
    background-color: #2196F3;
  }
</style>
<md-dialog aria-label="CHECKIN_DIALOG" ng-cloak flex-xs="90" flex-sm="90" flex-gt-sm="60">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{'CONFIRM_BOOKING' | translate}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>

			<div class="md-dialog-content">
				<md-list>
					<md-subheader ng-if="roomRemarks.length > 0" class="md-primary">{{'ROOM_REMARK_LIST' | translate}}</md-subheader>
					<md-list-item ng-repeat="remark in roomRemarks" class="md-3-line">
						<div class="md-list-item-text" layout="column">
							<h3 style="font-weight: bold;">
                         <span style="font-style: italic; color: #f44336;" ng-if="remark.IsDeleted">[ {{'DELETED' | translate}} ] </span>{{remark.Description}} 
                    </h3>
<h4 style="padding-bottom: 6px;">
                        {{remark.CreatedDate | date:'dd/MM/yyyy (HH:mm)'}}
                    </h4>
<p><span style="color: #fff;padding: 6px;border-radius: 3px;" class="{{remark.RemarkEventCode.toString()+'COLOR'}}">
                            {{remark.RemarkEventCode | translate}}
                        </span> &nbsp;
	<span ng-if="remark.IsCompleted" style="background-color: #259b24; color: #fff;padding: 6px;border-radius: 3px;">
                            {{'COMPLETED' | translate}}
                        </span>
	<span ng-if="!remark.IsCompleted" style="background-color: #795548; color: #fff;padding: 6px;border-radius: 3px;">
                            {{'IN_PROGRESS' | translate}}
                        </span></p>
						</div>
					</md-list-item>
					<!--<md-list-item ng-if="currentHotelConnectivities === false && roomRemarks.length == 0">
						<p></p>
					</md-list-item>-->
					<md-list-item ng-if="currentHotelConnectivities === true">
						<p>{{'RESERVE_AND_CREATE_CARD' | translate}}</p>
						<md-checkbox class="md-secondary md-warn" ng-model="$parent.isCreateCard"></md-checkbox>
					</md-list-item>
					
					<!--<md-list-item ng-show="currentHotelConnectivities === true && isCreateCard === true" layout="column">
						<p>This card is already assign to room name. You have to enter the reason to recreate card</p>
						<md-input-container>
							<input type="text"/>
						</md-input-container>
					</md-list-item>-->
				</md-list>
			</div>
		</md-dialog-content>
		<md-dialog-actions layout="row">
			<md-button ng-click="cancel()" class="md-primary">
				{{'CANCEL' | translate}}
			</md-button>
			<md-button ng-click="processCheckIn()" class="md-primary">
				{{'RESERVE' | translate}}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>