<md-dialog aria-label="{{'ROOM_HISTORIES' | translate}}" ng-cloak flex-xs="100" flex-sm="100" flex-gt-sm="60">
	<form>
		<md-toolbar>
			<div class="md-toolbar-tools">
				<h2>{{'ROOM_HISTORIES' | translate}}</h2>
				<span flex></span>
				<md-button class="md-icon-button" ng-click="cancel()">
					<md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;" aria-label="Close dialog"></md-icon>
				</md-button>
			</div>
		</md-toolbar>
		<md-dialog-content>
			<div class="md-dialog-content" layout="row" layout-wrap flex="100">
				<md-list flex="100">
					<md-list-item class="md-2-line" ng-repeat="history in roomHistories">
						<div class="md-list-item-text" layout="column">
							<h3>{{ history.roomHistory.Date | date: 'dd/MM/yyyy, HH:mm' }}</h3>
							<p>{{ history.CreatedUser.Email }}</p>
						</div>
						<div class="md-secondary">
<!--							{{history.roomHistory.Status}}-->
							<span ng-if="history.roomHistory.Status === 'ACTIVE'" style="background-color: #259b24; color: #fff;padding: 6px;margin: auto;border-radius: 3px;">{{'ACTIVE' | translate}}</span>
							<span ng-if="history.roomHistory.Status === 'DEACTIVE'" style="background-color: #f44336; color: #fff;padding: 6px;margin: auto;border-radius: 3px;">{{'INACTIVE' | translate}}</span>
						</div>
						<md-divider></md-divider>
					</md-list-item>
				</md-list>
			</div>
		</md-dialog-content>

		<md-dialog-actions layout="row">
			<md-button ng-click="cancel()" class="md-primary">
				{{'CLOSE' | translate}}
			</md-button>
		</md-dialog-actions>
	</form>
</md-dialog>