<md-dialog aria-label="RoomMove" flex-gt-xs="80" flex-xs="98" ng-cloak>
    <form name="RoomMove">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{{'ROOM_MOVE' | translate}}</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_48px.svg" style="fill: white;"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <room-move></room-move>
        </md-dialog-content>
    </form>
</md-dialog>