<style>
	.text {
		display: inline;
		padding: 0em 0em 0em;
		font-weight: 600;
		text-transform: none;
		word-break: break-all;
		line-height: 1;
		text-align: center;
		white-space: nowrap;
		vertical-align: baseline;
		border-radius: .25em;
	}

	.k-datetimepicker .k-picker-wrap .k-icon {
		margin: 6px 2px;
	}

	.k-i-calendar {
		background-position: -32px -176px !important;
	}

	.k-i-clock {
		background-position: -32px -192px !important;
	}

	.k-picker-wrap .k-icon {
		margin: 6px 2px;
	}

	#customers td,
	#customers th {
		border: 1px solid #ddd;
		text-align: left;
		padding: 8px;
	}

	table#customers {
		/*font-size: 16px;
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
		border-collapse: collapse;
		border-spacing: 0;
		width: 100%
	}

	md-list-item._md-button-wrap>div.md-button:first-child ._md-list-item-inner {
		height: auto;
	}

	md-list-item .md-list-item-inner .md-secondary-container,
	md-list-item ._md-secondary-container {
		height: auto;
	}

	.heightContent {
		height: fit-content !important;
	}
</style>
<md-content>
	<md-tabs md-border-bottom="" md-dynamic-height="">
		<md-tab label="Reservation">
			<md-content class="md-padding heightContent">
				<md-card flex style="width:100%;border-top: 1px solid #eee;min-height:100px;max-height:1000px">
					<section style="">
						<div layout="row" layout-align="space-between center" style="">
							<span flex class="md-toolbar-tools">
								<h2>
									{{ 'RESERVATION_LIST' | translate }}
								</h2>
							</span>
							<div>
								<md-button id="search" class="md-warn md-raised" ng-click="processSearch()">
									{{'SEARCH' | translate}}
								</md-button>
							</div>
						</div>
					</section>
					<md-card-content style="padding: 12px;">
						<section layout="row" layout-align="space-between center" layout-wrap flex="100">
							<section flex-xs="100" flex-sm="100" flex-gt-sm="50" flex-md="100" layout="row" layout-align="space-between center" layout-wrap>
								<md-input-container style="margin-bottom: 16px;" flex="50">
									<label>{{'BOOKING_ID' | translate}} </label>
									<input type="text" ng-model="search.CMBookingID">
								</md-input-container>
							</section>
							<section flex-xs="100" flex-sm="100" flex-gt-sm="50" flex-md="100" layout="row" layout-align="space-between center" layout-wrap>
								<div flex-xs="55" flex-sm="55" flex-md="50" flex-gt-sm="55" layout="row" layout-align="start center" layout-wrap style="margin: 0px 0px 26px 0px;">
									<div layout="row" layout-align="start center" flex="100">
										<div layout="row" layout-align="space-between center" flex="40">
											<span flex="75" flex-xs="65" style="margin: auto 0px;">{{'RES._DATE' | translate}}</span>
										</div>
										<div flex="60">
											<input kendo-date-picker ng-model="resFromString" k-ng-model="search.ReservationFrom" style="width: 100%;" k-options="DatePickerOption"
											/>
										</div>
									</div>
								</div>
								<div flex-xs="45" flex-md="50" flex-sm="33" flex-gt-sm="45" layout="row" layout-align="start center" layout-wrap style="margin: 0px 0px 26px 0px;">
									<div layout="row" layout-align="start center" flex="100">
										<span flex="20" style="margin: auto;text-align:center">{{'TO' | translate}}</span>
										<div flex>
											<input kendo-date-picker ng-model="resToString" k-ng-model="search.ReservationTo" style="width: 100%;" k-options="DatePickerOption"
											/>
										</div>
									</div>
								</div>
							</section>
							<section flex-xs="100" flex-sm="100" flex-gt-sm="50" flex-md="100" layout="row" layout-align="space-between center" layout-wrap>

								<div flex-xs="55" flex-sm="55" flex-md="50" flex-gt-sm="55" layout="row" layout-align="start center" layout-wrap style="margin: 0px 0px 26px 0px;">
									<div layout="row" layout-align="start center" flex="100">
										<div layout="row" layout-align="space-between center" flex="40">
											<span flex="75" flex-xs="65" style="margin: auto 0px;">{{'BOOKED' | translate}}</span>
											<md-checkbox flex style="margin: 0px; min-width: 0px;max-width: 25px;" flex ng-model="search.BookedIncluded">
											</md-checkbox>
										</div>

										<div flex="60">
											<input kendo-date-picker ng-disabled="!search.BookedIncluded" ng-model="bookedFromString" k-ng-model="search.BookedFrom"
											    style="width: 100%;" k-options="DatePickerOption" />
										</div>
									</div>
								</div>
								<div flex-xs="45" flex-md="50" flex-sm="33" flex-gt-sm="45" layout="row" layout-align="start center" layout-wrap style="margin: 0px 0px 26px 0px;">
									<div layout="row" layout-align="start center" flex="100">
										<span flex="20" style="margin: auto 0px;text-align:center">{{'TO' | translate}}</span>
										<div flex>
											<input kendo-date-picker ng-disabled="!search.BookedIncluded" ng-model="bookedToString" k-ng-model="search.BookedTo" style="width: 100%;"
											    k-options="DatePickerOption" />
										</div>
									</div>
								</div>

							</section>
							<section flex-xs="100" flex-sm="100" flex-gt-sm="50" flex-md="100" layout="row" layout-align="space-between center" layout-wrap>
								<div flex-xs="55" flex-sm="55" flex-md="50" flex-gt-sm="55" layout="row" layout-align="start center" layout-wrap style="margin: 0px 0px 26px 0px;">
									<div layout="row" layout-align="start center" flex="100">
										<div layout="row" layout-align="space-between center" flex="40">
											<span flex="75" flex-xs="65" style="margin: auto 0px;">{{'ARRIVAL' | translate}}</span>
											<md-checkbox flex style="margin: 0px; min-width: 0px;max-width: 25px;" flex ng-model="search.ArrivalIncluded">
											</md-checkbox>
										</div>

										<div flex="60">
											<input kendo-date-picker ng-disabled="!search.ArrivalIncluded" ng-model="arrivalFromString" k-ng-model="search.ArrivalFrom"
											    style="width: 100%;" k-options="DatePickerOption" />
										</div>
									</div>
								</div>
								<div flex-xs="45" flex-md="50" flex-sm="33" flex-gt-sm="45" layout="row" layout-align="start center" layout-wrap style="margin: 0px 0px 26px 0px;">
									<div layout="row" layout-align="start center" flex="100">
										<span flex="20" style="margin: auto 0px;text-align:center">{{'TO' | translate}}</span>
										<div flex>
											<input kendo-date-picker ng-disabled="!search.ArrivalIncluded" ng-model="arrivalToString" k-ng-model="search.ArrivalTo" style="width: 100%;"
											    k-options="DatePickerOption" />
										</div>
									</div>
								</div>
							</section>
						</section>
					</md-card-content>
				</md-card>
				<md-card flex style="border-top: 1px solid #eee;width: 100%;margin-bottom:50px">
					<md-card-content>
						<div ng-if="searchResult.reservationRooms.length === 0 " layout="row" layout-align="center center">
							<span style="text-align: middle;font-style: italic;font-weight: bold; color: #f44336;">
								{{'NO_RESERVATION_FOUND' | translate}}
							</span>
						</div>
						<md-list flex ng-if="searchResult.reservationRooms.length > 0" id="height100">
							<md-list-item class="md-3-line" flex="100" ng-repeat="result in searchResult.reservationRooms" layout="row" layout-align="start center"
							    style="padding: 0px; border-bottom: 1px solid #eee;">
								<div ng-click="showReservationDetail(result,$event)" layout="column" layout-align="center center" style="background-color: {{result.Color}};padding: 0px; margin-top: auto; margin-bottom: auto; margin-right: 8px;width:72px !important;">
									<div style="margin: 5px auto; ">
										<span class="text" style="font-size: 60%;padding: .2em .6em .1em; color: #fff;">{{result.RoomTypes.RoomTypeCode}}</span>
									</div>
									<div style="margin:5px auto;width:60px !important;text-align:center !important" ng-if="result.Rooms">
										<span class="text" style="font-size: 130%;color: #fff;">{{result.Rooms.RoomName}}</span>
									</div>
									<div style="margin: 5px auto;width:60px !important;text-align:center !important" ng-if="!result.Rooms">
										<!-- <span class="text" style="font-size: 120%;padding: .2em .6em .1em;color: #fff;">N.A</span> -->
										<span class="text" style="font-size: 130%;color: #fff">N.A</span>
									</div>
									<div style="text-align:center;;width:72px !important" ng-style="result.Reservations.IsGroup && {'text-align':'left'}">
										<md-button ng-if="result.Reservations.IsGroup == true" class="md-icon-button" style="height: 21px;padding:0px;margin:0px;width:21px !important "
										    aria-label="{{result.BookingStatus | translate}} ">
											<md-icon md-svg-src="img/icons/ic_group_24px.svg" style="fill: {{result.Reservations.Color}};height: 21px; width: 21px; color: #666; "></md-icon>
										</md-button>
										<md-button class="md-icon-button" style="height: 21px;padding:0px;margin:0px;width:21px !important " aria-label="{{result.BookingStatus | translate}}">
											<md-icon md-svg-src="img/icons/{{bookingStatusMapping[result.BookingStatus]}} " style="fill: #fff;height: 21px; width: 21px; color: #666; ">
											</md-icon>
										</md-button>
										<md-button ng-if="result.Reservations.IsGroup == true && result.IsGroupMaster == true" class="md-icon-button" style="height: 21px;padding:0px;margin:0px;width:21px !important "
										    aria-label="{{result.BookingStatus | translate}} ">
											<md-icon md-svg-src="img/icons/ic_flag_24px.svg" style="fill: #fff;height: 21px; width: 21px; color: #666; "></md-icon>
										</md-button>
									</div>
									<!-- <div  style="margin: 5px auto; ">
										<md-icon md-svg-src="img/icons/{{bookingStatusMapping[result.BookingStatus]}}" style="fill: #fff;height: 24px; width: 24px; color: #666;"></md-icon>
									</div> -->
								</div>
								<div flex-gt-md="90" flex-md="80" flex-xs="60" flex-sm="80" flex class="md-list-item-text" layout="row" style="" layout-wrap>
									<h3 flex="100" style="font-weight: bold;">{{'CM_BOOKING_ID' | translate}}.{{result.Reservations.CMBookingId}} - {{'OTA_BOOKING_ID' | translate}}.{{result.Reservations.CMChannelRef}}
										<span hide-xs>- {{ result.CMReceiveBookingDate | date:'dd/MM(HH:mm)' }} | </span>
										<span ng-if="result.Source">{{result.Source.SourceName}} | </span>
										<span hide-xs ng-if="result.BookingStatus !== 'CANCELLED'">
											{{'RATE' | translate}}:
											<span ng-if="result.RoomPrices">{{ result.RoomPrices.RoomPriceName | translate }}</span>
											<span ng-if="!result.RoomPrices">{{'NOT_ASSIGNED' | translate}}</span>
										</span>
										<span hide-xs ng-if="result.BookingStatus === 'CANCELLED'" style="font-weight: bold; color: #f44336;">
											{{'REASON' | translate}}: {{result.CancelReason}}
										</span>
									</h3>
									<h4 flex="100">
										<span ng-if="result.Company">{{result.Company.CompanyName}} | </span>{{ result.Travellers.Fullname }}
										<span hide-xs>| {{ result.ArrivalDate | date:'dd/MM/yyyy HH:mm' }} - {{ result.DepartureDate | date:'dd/MM/yyyy HH:mm' }}</span>
									</h4>
									<p flex="100" hide-xs>
										<span>
											<span style="font-weight: bold;">{{'NOTE' | translate}}:</span>
											<span style="font-style:italic;">{{result.Note}}</span>
											<span style="color:red" ng-if="result.CMErrorDescription">({{result.CMErrorDescription}})</span>
										</span>
									</p>
								</div>
								<div flex-gt-md="45" flex-md="10" flex-xs="25" flex-sm="10" flex layout="row" layout-align="end center" style="margin: auto 0px;">
									<md-menu md-position-mode="target-right target" md-offset="0 -5">
										<md-button aria-label="Open demo menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)" style="margin: 0px;">
											<md-icon md-menu-origin md-svg-icon="img/icons/ic_forward_24px.svg"></md-icon>
										</md-button>
										<md-menu-content width="4" style="min-height:50px;max-height:350px">
											<md-menu-item ng-repeat="item in result.MenuItems">
												<md-button ng-click="menuItemClick(item, result)">
													<div layout="row" flex>
														<p flex ng-if="item.name==='CANCEL'">{{'CANCEL_RESERVATION' | translate}}</p>
														<p flex ng-if="item.name!='CANCEL'">{{item.name | translate}}</p>
														<md-icon md-menu-align-target md-svg-icon="img/icons/{{item.icon}}" style="margin: auto 3px auto 0;"></md-icon>
													</div>
												</md-button>
											</md-menu-item>
										</md-menu-content>
									</md-menu>
								</div>
							</md-list-item>
						</md-list>
					</md-card-content>
				</md-card>
			</md-content>
		</md-tab>
		<md-tab label="Reservation Audit Trails">
			<md-content class="md-padding heightContent" style="overflow:hidden">
				<section flex="100" layout layout-align="center start">
					<md-input-container style="margin-top: 0px;" flex="20">
						<label>{{'BOOKING_ID' | translate}} </label>
						<input type="text" ng-model="CMBookingID">
					</md-input-container>
					<md-button id="search" class="md-warn md-raised" ng-click="GetReservationLog()">
						{{'SEARCH' | translate}}
					</md-button>
				</section>
				<section flex="100">
					<div class="table-responsive-vertical shadow-z-1">
						<table id="customers" flex="100">
							<thead>
								<th style="max-width: 100px;">{{'BOOKING_ID' | translate}}</th>
								<th style="max-width: 100px;">{{'LOG_ERROR' | translate}}</th>
								<th style="max-width: 500px !important;">{{'RESERVATIONS' | translate}}</th>
								<th style="max-width: 75px;">{{'DATE' | translate}}</th>
								<th style="max-width: 65px;">{{'TIME' | translate}}</th>
							</thead>
							<tbody ng-repeat="log in reservationLogData">
								<tr>
									<td style="max-width: 100px;">{{log.data.reservations.reservation[0].booking_id}}</td>
									<td style="max-width: 100px;">{{log.errors}}</td>
									<td style="max-width: 500px !important;word-wrap: break-word;">{{log.dataString}}</td>
									<td style="max-width: 75px;text-align:center">{{log.date | date:'dd/MM/yyyy'}}</td>
									<td style="max-width: 65px;text-align:center">{{log.date | date:'HH:mm'}}</td>
								</tr>
							</tbody>
						</table>
					</div>
				</section>

			</md-content>
		</md-tab>
	</md-tabs>
</md-content>