<div class="md-padding" layout="column" layout-align="center center">
    <div style="text-align: center;text-transform: uppercase;font-weight: bold;">
        <h2>{{'ACCOUNT_VERIFICATION' | translate}}</h2>
    </div>
    <div layout="column" layout-align="center center">
        <h3>{{'YOUR_ACCOUNT_HAS_BEEN_VERIFIED' | translate}}. {{'CLICK' | translate}} <span><a href="{{loginUrl}}"> {{'HERE' | translate}} </a></span> {{'TO_LOGIN' | translate}}</h3>
<!--        <h3>{{'CLICK' | translate}} <span><a href="{{loginUrl}}"> {{'HERE' | translate}} </a></span> {{'TO_LOGIN' | translate}}</h3>-->
    </div>
</div>