<style type="text/css">
	.formlogin{
		border-radius: 5px;background-color: rgba(255, 255, 255, 0.67) !important; padding: 0 30px;
	}
	.hideBackgound{    background: rgba(255, 255, 255, 0); }
	@media (max-width: 767px) {
		#chat-application-iframe{display: none;}
	}
</style>
<div layout="row" layout-align="center start" class="animated fadeIn ">
	<md-card class="md-padding formlogin" layout="row" layout-wrap layout-align="center start" flex-xs="100" flex-sm="100" flex-md="50" flex-lg="30" flex-gt-lg="30" >
		<md-content md-padding flex class="hideBackgound">
			<!-- <md-toolbar md-padding layout-align="center center"><h2 flex>{{'FORGET_PASSWORD' | translate}}</h2></md-toolbar> -->
			<h2 class="md-flex"  >{{'FORGET_PASSWORD' | translate}}</h2>
	        <div flex layout="row" layout-align="center center" layout-wrap style="overflow-x:hidden">
				<form name="forgotPasswordForm" flex="100">
					<div flex="100">
						<md-input-container flex style="width: 100%;" md-is-error="!forgotPasswordForm.email.$valid">
							<label>
								{{'EMAIL(REQUIRED)' | translate}}
							</label>
							<!--<md-icon md-svg-src="img/icons/ic_email_24px.svg"></md-icon>-->
							<input type="text" ng-model="forgotPasswordData.Email" required name="email" ng-pattern="/^[_a-z0-9]+(\.[_a-z0-9]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/" />
							<div ng-messages="forgotPasswordForm.email.$error">
								<div ng-show="forgotPasswordForm.email.$error.pattern">
									{{'EMAIL_NOT_VALID' | translate}}
								</div>
							</div>
						</md-input-container>
		            </div>
		            
		            <div class="inset" flex="100">
						<!-- <md-switch aria-label="{{'ROLE_SWITCH' | translate}}" id="roleSwitch" name="roleSwitch" ng-model="forgotPasswordData.Role" class="md-primary" ng-false-value="'ROLE_HOTEL_STAFF'" ng-true-value="'ROLE_HOTEL_OWNER'">
							<span>
							                             {{forgotPasswordData.Role | translate}}
							                        </span>
						</md-switch> -->
						<md-checkbox   aria-label="{{'ROLE_SWITCH' | translate}}" id="roleSwitch" name="roleSwitch" ng-model="forgotPasswordData.Role" class="md-primary" ng-false-value="'ROLE_HOTEL_STAFF'" ng-true-value="'ROLE_HOTEL_OWNER'">{{forgotPasswordData.Role | translate}}
					 	</md-checkbox>
					</div>
						
		            <div flex="100">
						<md-input-container style="width: 100%;" flex md-is-error="!forgotPasswordForm.hotelId.$valid" id="hotelID" ng-show="forgotPasswordData.Role == 'ROLE_HOTEL_STAFF'">
							<label>{{'HOTEL_ID(REQUIRED)' | translate}} </label>
							<input ng-model="forgotPasswordData.HotelId" name="hotelId">
						</md-input-container>
		            </div>

					
					 
					<div class="md-actions" layout="row" layout-align="center center" flex="100">
						<md-button class="md-primary md-raised" ng-click="postForgotPasswordEmailToServer($event)" flex="100">
						<md-icon md-svg-src="img/icons/ic_email_48px.svg" style="fill:white"></md-icon>
							{{'SEND_EMAIL' | translate}}
						</md-button> 
					</div>
					<div  layout-align="center center" style="font-size: 12px;margin: 6px 8px;">
						<span>{{'EXIT_ACCOUNT?' | translate}}</span>&nbsp;<a ng-click="$state.transitionTo('login');"  style="cursor:pointer;text-decoration: underline;color:rgba(0,0,0,0.87) !important">{{'CLICK_HERE' | translate}}</a>
					</div> 
				</form>
	        </div>
		</md-content>
	</md-card>
</div>